@import '../../styles/app.theme.less';

.errorMessage {
   color: @background-input !important;
}

.inputErrorColor {
   background-color: @background-input !important;
   color: white !important;
   border-radius: 6px;
   padding: 2px;
}
