@import '../../styles/app.theme.less';

.input {
   width: 100%;
   border: none;
   font-size: 26px;
   border-bottom: 1px solid fade(@light-3, 20%);
   color: @light-4;
   background-color: @light-0
}
