@import '../../styles/app.theme.less';

 .mask {
   display: flex;
   align-items: center;
   justify-Content: center;
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   // padding: 1rem;
   // background-color: rgba(0, 0, 0, 0.7);
   z-index: 9999;
   // opacity: 1;
   // overflow-x: hidden;
   // overflow-y: auto;
   // transition: show .5s ease;
 }

 .container {
   position: relative;
   width: 100%;
   height: 100%;
   // opacity: 0.9;
 }

.borderLayoutList {
   margin-left: 4%;
   margin-right: 4%;
}

 .name {
   margin-top: 70px;
   // margin-left: 20%;
   // margin-right: 20%;
   font-size: 16px;
   display: flex;
   justify-content: space-around;
   flex-direction: row;
   font-family: @font-primary;
   font-weight: 800;
 }

 .listHeaderElement {
    flex: 1;
    text-align: center;
 }

 .listContainer {
    margin-top: 21px;
    text-align: center;
   //  margin-left: 20%;
 }

 .closeButton {
   position: absolute;
   top: 20px;
   right: 30px;
   height: 50px;
   transition:0.2s;
   cursor: pointer;
 }

 .back {
    cursor: pointer;
 }

 .inputNameModal {
   width: 100%;
   border: none;
   font-size: 40px;
   padding: 4px;
   font-family: @font-primary;
 }

 .inputNameModal::placeholder {
   font-weight: 300;
 }

 .icon {
   height: 70px;
 }

 .col1 {
    width: 5%;
 }

 .col2 {
   width: 100%;
 }

 .inputLine {
   margin-top: 10%;
   margin-left: 25%;
   display: flex;
   justify-content: flex-start;
   flex-direction: row;
   width: 50%;
 }

 .empty {
   font-size: 30px;
   font-family: @font-primary;
   margin-left: 10px;
 }

 .renderLine {

 }

 // --- LIGHT THEME ---

 :global(.Light).mask {
   // background-color: fade(black, 60%);
 }

 :global(.Light).container {
   background-color: fade(@light-0, 95%);
   box-shadow: 0px 10px 30px 0px fade(black, 30%);
 }

 :global(.Light).closeButton {
   fill: @light-3;
 }

 :global(.Light).icon {
    fill: @light-3;
 }

 :global(.Light).inputNameModal {
   border-bottom: 1px solid mix(@light-3, @light-1, 20%);
   color: @light-4;
   background-color: transparent;
 }

 :global(.Light).inputNameModal:placeholder {
   color: mix(@light-3, @light-1, 20%);
 }


 :global(.Light).empty {
    color: @light-3;
 }

 :global(.Light).name {
   color: mix(@light-3, @light-1, 50%);
 }

// --- DARK THEME ---

 :global(.Dark).mask {
   background-color: fade(white, 60%);
 }

 :global(.Dark).container {
   background-color: @dark-1;
   box-shadow: 0px 10px 30px 0px fade(black, 40%);
 }

 :global(.Dark).closeButton {
   fill: @dark-3;
 }

 :global(.Dark).icon {
    fill: @dark-3;
 }

 :global(.Dark).inputNameModal {
   border-bottom: 1px solid @dark-3;
   color: @dark-4;
   background-color: @dark-1;
 }

 :global(.Dark).empty {
   color: @light-3;
}

 :global(.Dark).name {
    color: @dark-3;
 }
