@import '../../styles/app.theme.less';



.typeSelectorContainer {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   height: 250px;
}

.typeContainer {
   cursor: pointer;
   margin-left: 40px;
   margin-right: 40px;
   transition: 200ms ;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.containerActive {
   transform: scale(1.2, 1.2)
}

.typeName {
   margin-top: 0.1em;
   font-family: @font-primary;
   font-weight: 700;
   letter-spacing: 0.07em;
   color: inherit;
}

.input {
   width: 100%;
   border: none;
   font-size: 26px;
   padding-bottom: 5px;
   margin-bottom: 10px;
}
.resourceIcon {
   fill: inherit;
}

.folderIcon {
   width: 100px;
}

.courseIcon {
   width: 80px;

}

// --- LIGHT THEME ---

:global(.Light).typeContainer {
   fill: fade(@light-4, 50%);
   color: fade(@light-4, 50%);
}

:global(.Light).containerActive {
   fill: @light-4;
   color: @light-4;
}

:global(.Light).input {
   color: @light-4;
   background-color: @light-0;
   border-bottom: 1px solid fade(@light-4, 50%);
}

:global(.Light).input::placeholder {
   color: fade(@light-4, 50%);
}

// --- DARK THEME ---

:global(.Dark).typeContainer {
   fill: fade(@dark-4, 50%);
   color: fade(@dark-4, 50%);
}

:global(.Dark).containerActive {
   fill: @dark-4;
   color: @dark-4;
}

:global(.Dark).input {
   color: @dark-4;
   background-color: @dark-1;
   border-bottom: 1px solid fade(@dark-4, 40%);
}

:global(.Dark).input::placeholder {
   color: fade(@dark-4, 40%);
}
