@import '../../styles/app.theme.less';

.layout {
   display:flex;
   flex-direction: column;
   align-items: center;
}

.iconAndNameLayout {
   display:flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   width: 100%;
   // height: 120px;
}

.inputNameContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 80%;
}

.inputNameModal {
   margin-top:10px;
   border: none;
   font-size: 26px;
   padding: 4px;
}

.selectedIcon {
   margin-top: 5px;
   width: 40px;
   height: 40px;
}

.breather {
height: 40px;
}

.containerIcons {
   margin-top: 25px;
   margin-bottom: 22px;

   width: 390px;
   position: relative;
   padding: 15px;
   border-radius: 15px;
   height: 170px;
   display: flex;
   flex-wrap: wrap;
   overflow:auto;
}

.containerIcons::-webkit-scrollbar {
   display: none;
}

.gradient {
   margin-top: 25px;
   margin-bottom: 22px;
   z-index: 3;
   pointer-events: none;
   position: absolute;
   width: 390px;
   height: 170px;
}


.iconsDisplay {
   width: 35px;
   height: 35px;
   cursor: pointer;
   margin: 5px;
   text-align:center;
}

.iconsDisplaySelected {
   width: 35px;
   height: 35px;
   margin: 5px;
   text-align:center;
   cursor: pointer;
}


// --- LIGHT THEME ---

:global(.Light).inputNameModal {
   color: @light-4;
   background-color: @light-0;
   border-bottom: 1px solid fade(@light-3, 50%);
}

:global(.Light).inputNameModal::placeholder {
   color: fade(@light-3, 50%);
}

:global(.Light).iconsDisplay {
   fill: fade(@light-3, 70%);
}

:global(.Light).iconsDisplaySelected {
   fill: @light-4;
}

:global(.Light).selectedIcon {
   fill: @light-4;
}

:global(.Light).gradient {
   background: linear-gradient(@light-0 0%, transparent 5%,transparent 95%, @light-0 100%);
}

// --- DARK THEME ---

:global(.Dark).inputNameModal {
   color: @dark-4;
   background-color: @dark-1;
   border-bottom: 1px solid @dark-3;

}

:global(.Dark).inputNameModal::placeholder {
   color: fade(@dark-4, 40%);
}

:global(.Dark).iconsDisplay {
   fill: fade(@dark-4, 40%);
}

:global(.Dark).iconsDisplaySelected {
   fill: @dark-4;
}

:global(.Dark).selectedIcon {
   fill: @dark-4;
}

:global(.Dark).gradient {
   background: linear-gradient(@dark-1 0%, transparent 5%,transparent 95%, @dark-1 100%);
}
