@import '../../styles/app.theme.less';

.icon{
   width: 16px;
   position: relative;
   fill:inherit;
}

.name {
   font-family: @font-secondary;
   margin-left: 10px;
   font-size: 25px;
   color:inherit;
}

// MORE BUTTON

.moreButton {
   margin-top: 4px;
   opacity: 0;
   transition: 0.3s;
   width: 16px;
   height: 16px;
}

.moreButton:hover {
   opacity: 1 !important;
}

.moreButtonActive {
   opacity: 0.6;
}

// POPOVER
.popoverItemIcon {
   margin-left: 3px;
   margin-bottom:-6px;
   width: 14px;
}
.popoverItemName {
   font-family: inherit !important;
   margin-left: 12px;
}

.containerChildItem {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   // display: -webkit-inline-box;
   margin-bottom: 10px;
   //border: 1px solid black;
   cursor: pointer;
}

.iconAndNameContainer {
   // margin-left: 20px;
   flex: 1;
   opacity: 0.8;
}

.iconAndNameContainer:hover {
   opacity: 1;
}

// --- LIGHT ---
:global(.Light).containerChildItem
{
   color: @light-4;
   fill: @light-4;
}

// --- DARK ---

:global(.Dark).containerChildItem {
   color: @dark-4;
   fill: @dark-4;
}

:global(.Dark).name:hover {
   color: @dark-4;
}
