@import '../../styles/app.theme.less';


.nameModal {
   font-size: 20px;
   color: @light-6;
}

.input {
   width: 100%;
   border: none;
   font-size: 26px;
   border-bottom: 1px solid @light-4;
   color: @light-6;
   background-color: @light-3
}
