@import '../../styles/app.theme.less';

.layout {
   display: flex;
   flex-direction: column;
   // border:1px solid red;
   height: 400px;
   min-width: 500px;
   // width: 60   0px;

}

.title {
   display: flex;
   align-self: center;
   margin-top: 30px;
   margin-bottom: 25px;
   align-items: center;

}

.icon {
   width: 20px;
   height: 20px;
   margin-right: 8px;
}

.name {
   font-family: @font-secondary;
   font-size: 20px;
}

.parent {
   display: flex;
   align-items: center;
   height: 40px;
}

.arrowLeft {
   width: 40px;
   height: 40px;
   margin-right: 5px;
}

.parentName {
   font-family: @font-primary;
   font-size: 18px;
   font-weight: 700;
}

.divider {
   width: 100%;
   min-height: 1px;
   height: 1px;
   margin-top: 0px;
   margin-bottom: 17px;
   align-self: center;
}

.list {
   // border: 1px solid blue;
   // flex-grow: 1;
   display: flex;
   flex-direction: column;
   overflow: auto;
   margin-bottom: 17px;
}

.empty {
   font-family: @font-primary;
   font-weight: 300;
   font-size: 18px;
   margin-top: 10px;
   margin-bottom: 5px;
   padding-left: 10px;

}

.listItem {
   display: flex;
   width: 100%;
   align-items: center;
   height: 30px;

   // border: 1px solid green;
}

.listItemHovered {

}

.listItemSelected {
}

.listIcon {
   width: 12px;
   height: 12px;
   margin-right: 8px;
   margin-left: 8px;
   fill: inherit;

}

.listItemName {
   font-family: @font-secondary;
   font-size: 18px;
   flex-grow: 1;
   color: inherit;

}

.subjectItem {
   display: flex;
   width: 100%;
   align-items: center;
   min-height: 50px;
}

.subjectIcon {
   width: 28px;
   height: 28px;
   margin-right: 10px;
   margin-left: 10px;
   fill: inherit;
}

.subjectName {
   font-family: @font-secondary;
   font-size: 26px;
   flex-grow: 1;
   color: inherit;
}

.arrowRight {
   width: 26px;
   height: 26px;
   margin-right: 10px;
}

.drafts {
   font-family: @font-secondary;
   font-size: 18px;
   height: 30px;
   display: flex;
   align-items: center;
   padding-left: 10px;
}

// --- LIGHT THEME ---

 :global(.Light).arrowLeft,
 :global(.Light).parentName,
 :global(.Light).listItem,
 :global(.Light).subjectItem,
 :global(.Light).drafts,
 :global(.Light).empty {
   fill: @light-3;
   color: @light-3;
 }

 :global(.Light).arrowLeft:hover {
   fill: @light-0;
   background-color: @light-3;
 }

 :global(.Light).icon,
 :global(.Light).name,
 :global(.Light).arrowRight {
   fill: @light-4;
   color: @light-4;
 }

 :global(.Light).arrowRight:hover {
   fill: @light-0;
   background-color: @light-3;
 }

 :global(.Light).divider {
   // fill: @light-4;
   background-color: mix(@light-0, @light-3, 70%);
 }

 :global(.Light).listItemHovered {
   background-color: mix(@light-0, @light-3, 90%);
 }

 :global(.Light).listItemSelected {
   color: @light-0;
   fill: @light-0;
   background-color: mix(@light-0, @light-3, 00%);
 }

// --- DARK THEME ---

:global(.Dark).arrowLeft,
:global(.Dark).parentName,
:global(.Dark).listItem,
:global(.Dark).subjectItem {
  fill: @dark-3;
  color: @dark-3;
}

:global(.Dark).arrowLeft:hover {
  fill: @dark-0;
  background-color: @dark-3;
}

:global(.Dark).icon,
:global(.Dark).name,
:global(.Dark).arrowRight {
  fill: @dark-4;
  color: @dark-4;
}

:global(.Dark).arrowRight:hover {
  fill: @dark-0;
  background-color: @dark-3;
}

:global(.Dark).divider {
  // fill: @light-4;
  background-color: mix(@dark-0, @dark-3, 50%);
}

:global(.Dark).listItemHovered {
  background-color: mix(@dark-0, @dark-3, 90%);
}

:global(.Dark).listItemSelected {
  color: @dark-0;
  fill: @dark-0;
  background-color: mix(@dark-0, @dark-3, 00%);
}

