@import '../../styles/app.theme.less';

.layout {
   display: flex;
   justify-content: center;
}

.icon {
   margin-top: 40px;
   width: 50px;
   height: 50px;
}

// --- LIGHT THEME ---

:global(.Light).icon {
   fill: @light-4;
}

// --- DARK THEME ---

:global(.Dark).icon {
   fill: @dark-4;
}
