.quizFinishEditor {
   color: #FFFFFF;
   background-color: #5C6974;
   padding: 10px;
}

.containerQuestion {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   height: 100%;
   width: 51%;
   min-width: 720px;
   // overflow: auto;
}

.containerContent {
   margin-top: 40px;
   width: 100%;
   // height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.headerQuestions {
   color: #5C6974;
   font-size: 20px;
   font-weight: 600;
}

.displayQuestion {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 7px;
   align-items: center;
}

.displayQuestionHide:hover {
   box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.15);
   border-radius: 2px;
   cursor: pointer;
}

.indexQuestion {
   font-size: 20px;
   color: #5C6974;
   font-weight: 600;
   margin-right: 8px;
}

.nameQuestion {
   color: #5C6974;
   font-size: 20px;
   border: none;
   cursor: pointer;
   box-sizing: content-box;
   width: 100%;
}

.displayInput {
   border-bottom: 1px solid rgba(92, 105, 116, 0.2);
   // border-top-color: rgba(92, 105, 116, 0.2);
   cursor: text;
}

.manageQuestion {
   display: flex;
   flex-direction: column;
   padding-left: 8px;
   padding-right: 8px;
   padding-top: 4px;
   padding-bottom: 2px;
}

.manageSelectQuestion {
   box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.30);
   border-radius: 2px;
   // padding-top: 8px;
   padding-bottom: 16px;
}

.displayEdition {
   display: default;
}

.hideEdition {
   display: none;
}

.inputQuestionName {
   outline: none;
}

.containerQuestionInfo {
   display: flex;
   flex-direction: row;
   cursor: pointer;
   flex: 1;
   margin-right: 30px;
}

.buttonAddProp {
   text-align: center;
   min-width: 50px;

   // height: 22px;
   font-size: 17px;
   font-weight: 500;
   // background-color: #5C6974;
   color: #5C6974;
   border-radius: 12px;
   // padding: 8px;

   // border: 2px solid #5C6974;
}

// .buttonAddProp:hover {
//    background-color: #FFFFFF;
//    color: #5C6974;
// }

.containerButtonAddQuiz {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   margin-top: 30px;
   padding-top: 14px;
   border-top: 1px solid rgba(92, 105, 116, 0.2);
}

// .buttonDeleteQuestion {
//    display: none;
// }

.buttonDeleteQuestion {
   display: default;
   background-color: #B4110A;
   color: #FFFFFF;
   font-weight: 900;
   font-size: 12px;
   width: 19px;
   height: 19px;
   text-align: center;
   /* padding: 4px; */
   cursor: pointer;
   border-radius: 200px;
}

.containerAddQuestion {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   border: 3px solid #ffffff;
   margin-right: 30px;
   padding: 6px;
   cursor: pointer;
   padding-right: 12px;
   padding-left: 12px;
   transition: 150ms ease-in-out;
}

.containerAddQuestion:hover {
   border: 3px solid #5C6974;
   // background-color: #5C6974;
   // color: #FFFFFF !important;
   // fill: #FFFFFF !important;
}

.iconPlusQuestion {
   height: 15px;
   width: 15px;
   fill: #5C6974;
   margin-right: 8px;
}

.iconPlusDelete {
   fill: #5C6974;
   height: 16px;
   width: 16px;
   transform: rotate(45deg);
   cursor: pointer;
}

.iconPlusDelete:hover {
   fill: #B4110A;
}
