.quizStart {
   color: white;
   background-color: #5C6974;
}

.quizEdit {
   color: #5C6974;
   background-color: #DFE2E4;
}

.elementQuizInfo {
   display: flex;
   flex-direction: column;
   color: #5C6974;
   font-size: 20px;
   font-weight: 600;
   align-items: center;
   width: 33%;
}

.elementInfo {
   all: initial;
   color: #4E473B;
   font-size: 40px;
   font-weight: 300;
   font-family: 'Avenir'
}

.containerQuizInfo {
   width: 100%;
   display: flex;
   justify-content: center;
}

.widthInfo {
   width: 70%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   margin-top: 60px;
}

.containerContent {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
}

.layoutQuestion {
   margin-top: 40px;
   min-width: 700px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.buttonDisplayQuestion {
   font-size: 20px;
   color: #5C6974;
   display: flex;
   flex-direction: row;
   align-items: center;
   cursor: pointer;
}

.containerQuizQuestions {
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}

.contentQuizQuestions {
   display: flex;
   flex-direction: row;
   margin-top: 4px;
}

.indexQuizQuestions {
   font-size: 20px;
   color: #5C6974;
   font-weight: 600;
}

.nameQuizQuestions {
   font-size: 20px;
   color: #5C6974;
   margin-left: 6px;
}

.arrow {
   width: 14px;
   height: 14px;
   fill: #5C6974;
   transition: 250ms ease-in-out;
}

.arrowDown {
   transform: rotate(0);
}

.arrowUp {
   transform: rotate(-180deg);
}

.textDisplayQuestion {
   margin-right: 14px;
}
