.headerQuiz {
   display: flex;
   flex-direction: column;
   border-bottom: 1px solid #E6ECF1;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
   padding-top: 20px;
}

.headerQuizTitle {
   font-size: 26px;
   color: #5C6974;
}

.headerQuizName {
   font-size: 26px;
   font-weight: 700;
   color: #3B454E;
   margin-top: 3px;
   margin-bottom: 25px;
}

// @width-quiz-button: 160px;

// @withQuizButton: @width-quiz-button px;
// @heightContainerQuizButton: @width-quiz-button * 3px;

.headerQuizButton {
   min-width: 160px;
   height: 44px;
   border-radius: 2px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 700;
   font-size: 19px;
   margin: 4px;
   cursor: pointer;
}

.contentQuiz {
   // display: flex;
   // justify-content: space-between;
   overflow-y : auto;
   flex: 1;
   // align-items: center;
   // flex-direction: column;
}

.containerQuizButton {
   height: 132px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.layoutQuiz {
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 100%;
   justify-content: space-between;
}
