.indexQuizQuestion {
   font-size: 20px;
   color: #5C6974;
   font-weight: 500;
   margin-bottom: 60px;
}

.nameQuizQuestion {
   font-size: 40px;
   color: #5C6974;
   margin-bottom: 70px;
   text-align: center;
}

.containerQuizGame {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 60px
}

.buttonBBlackCWhite {
   background-color: #5C6974;
   color: #FFFFFF;
}

.disableButtonBBCW {
   background-color: rgb(107, 115, 119);
   color: #7d8184;
}

.buttonBGreyCBlack {
   background-color: #DFE2E4;
   color: #5C6974;
}

.containerScore {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 30px;
}

.textScore {
   font-size: 28px;
   text-align: center;
   color: #5C6974;
}

.resultScore {
   font-size: 56px;
   text-align: center;
   color: #3B454E;
   font-weight: 600;
}

.textBestScore {
   font-size: 20px;
   color: #5C6974;
   text-align: center;
}

.resultBestScore {
   font-size: 40px;
   color: #4E473B;
   font-weight: 400;
}
