.containerQuestionAnswer {
   border-radius: 23px;
   width: 290px;
   height: 73px;
   text-align: center;
   font-size: 40px;
   font-weight: 500;
   color: #5C6974;
}

.successQuestionAnswer {
   border: 3px solid #61E89F;
   color: #61E89F;
}

.failQuestionAnswer {
   border: 3px solid #B4110A;
   color: #B4110A;
}

.displayGoodAnswer {
   display: default;
}

.hideGoodAnswer {
   display: none;
}

.containerGoodAnswer {
   margin-top: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: #61E89F;
   font-weight: 600;
}

.textGoodAnswer {
   font-size: 20px;
}

.goodAnswer {
   font-size: 40px;
}

.failQcm {
   background-color: #B4110A;
   color: #ffffff !important;
}

.successQcm {
   background-color: #61E89F;
   color: #ffffff !important;
}

.containerPropostionQcm {
   display: flex;
   flex-direction: row;
   align-items: center;
   // cursor: pointer;
   color: #5C6974;
   padding: 6px;
   padding-left: 15px;
   padding-right: 15px;
   border-radius: 2px;
   // margin-right: 12px;
   border: 3px solid #ffffff;
   width: 100%;

   // margin-top: 6px;
}

.containerProposition {
   display: flex;
   align-items: center;
   justify-content: flex-start;
}

.indexProposition {
   font-size: 20px;
   font-weight: 600;
   margin-right: 14px;
}

.textProposition {
   font-size: 20px;
   // color: #5C6974;
}

.iconCheckQcmSuccess {
   fill: #61E89F;
   height: 35px;
   width: 35px;
}

.containerGoodAnswerQcm {
   display: flex;
   flex-direction: row;
   align-items: center;
   // margin-top: 8px;
}
