.containerQuestionAnswer {
   border: 4px solid #5C6974;
   border-radius: 23px;
   width: 290px;
   height: 73px;
   text-align: center;
   font-size: 40px;
   font-weight: 500;
   color: #5C6974;
}

.containerPropositionQcm {
   display: flex;
   flex-direction: row;
   align-items: center;
   cursor: pointer;
   color: #5C6974;
   padding: 6px;
   padding-left: 15px;
   padding-right: 15px;
   border-radius: 2px;
   border: 3px solid #ffffff;
   transition: 50ms ease-in-out;
}

.containerPropositionQcm:hover {
   border-color: #5C6974;
}

.containerProposition {
   display: flex;
   align-items: center;
   justify-content: flex-start;
}

.indexProposition {
   font-size: 20px;
   font-weight: 600;
   margin-right: 14px;
}

.textProposition {
   font-size: 20px;
   // color: #5C6974;
}

.selectQcm {
   color: #ffffff;
   background-color: #5C6974;
   border-radius: 2px;
}
