.inputAnswerQA {
   outline: none;
   border: 2px solid #5C6974;
   border-radius: 10px;
   height: 34px;
   text-align: center;
   width: 260px;
   color: #5C6974;
   font-size: 20px;
}

.containerQA {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.answerQA {
   margin-top: 10px;
   margin-bottom: 10px;
   color: #5C6974;
   font-size: 20px;
}

.buttonQcmAnswer {
   border-radius: 200px;
    width: 20px;
    height: 20px;
    border: 2px solid #5C6974;
    margin-right: 15px;
    cursor: pointer;
}

.buttonQcmAnswerSelect {
   background-color: #5C6974;
}

.containerProposition {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-left: 20px;
   margin-top: 10px;
}

.containerQcm {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 10px;
}

.textQcm {
   color: #5C6974;
   font-size: 20px;
   margin-top: 10px;
   width: 100%;
   text-align: center;
}

.buttonQcmAddProp {
   transition: 150ms ease-in-out;
   padding: 2px;
   border-radius: 2px;
   background-color: #5C6974;
   border: 3px solid #5C6974;
   color: #FFFFFF;
   padding-left: 10px;
   padding-right: 10px;
   cursor: pointer;
   font-weight: 600 !important;
   text-align: center;
   margin-top: 25px !important;
   font-size: 16px !important;
   height: 34px !important;
}

.buttonQcmAddProp:hover {
   background-color: #FFFFFF;
   color: #5C6974;
}

.displayGoodAnswerQcm {
   border: 2px solid #5C6974;
   border-radius: 10px;
   height: 34px;
   text-align: center;
   width: 260px;
}

.inputAnswerQCM {
   color: #5C6974;
    font-size: 20px;
    border: none;
   //  cursor: default;
    box-sizing: content-box;
    border-bottom: 1px solid rgba(92, 105, 116, 0.2);
    cursor: text;
    width: 90%;
    height: 30px;
}
