@font-family-base: 'Open Sans', '-apple-system', 'BlinkMacSystemFont', "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
@font-primary: 'Open Sans', '-apple-system', 'BlinkMacSystemFont', "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
@font-secondary: 'Avenir', 'Open Sans', '-apple-system', 'BlinkMacSystemFont', "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";

// Editor Highlight Colors
@editor-highlight-1: #F889A2;
@editor-highlight-2: #FEED6D;
@editor-highlight-3: #E7F3A5;
@editor-highlight-4: #B2DFF9;
@editor-highlight-5: #CDC6F2;

// OLD, to remove
@light-5: green;
@light-6: red;
@light-7: purple;
@light-accent: blue;


// Light theme
@light-0: #FFFFFF;
@light-1: #f8f8f9;
@light-2: #E6ECF1;
@light-3: #5C6974;
@light-4: #3B454E;

// Dark theme
@dark-0: black;
@dark-1: #202020;//#202020;// #262626;
@dark-2: #2c2c2c; // #252729;// #383838;
@dark-3: mix(#777777, white, 100%);
@dark-4: #dddddd; // #F2F2F2;

// Warnings color
@red-warning: #B11D1D;

// Error color
@background-input: rgba(236, 20, 49, 0.829);

@z-index-editor-topbar: 1;
@z-index-editor-topbar-tab: 1;
@z-index-editor-topbar-tab-active: 1;
@z-index-editor-toolbar: 1;
@z-index-modal: 1;

// EMPTY LIST PLACEHOLDER
.empty-list {
   margin-top: 20px;
   padding-left: 10%;
   font-family: @font-primary;
   font-weight: 300;
   font-size: 30px;
   opacity: 1;
}

.Light.empty-list {
   color: @light-3;
}

.Dark.empty-list {
   color: @dark-4;
}

// EDITOR Document style
* p {
   // margin: 0px;
   -webkit-margin-before: 0.8em;
   -webkit-margin-after: 0.8em;
   -webkit-margin-start: 0px;
   -webkit-margin-end: 0px;
}
