@import "./app.theme.less";

// antd variables
@text-color: red;
@body-bg: red;
@primary-color: red;
@secondary-color: red;
// antd variables END

* {box-sizing: border-box;}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   text-indent: 1px;
   text-overflow: '';
}

body,
html {
   height: 100vh;
   overflow: auto;
   margin: 0;
   // font-family: @font-family-base !important;
   user-select: none;
   cursor: default;
   color: inherit;
   // background-color: @light-0 !important;
   line-height: normal !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   // font-family: @font-family-base !important;
}

// .ant-dropdown {
//    z-index: 99!important;
// }

// .ant-dropdown-menu {
//    border-radius: 10px;
// }

// .ant-dropdown-menu-item {
//    border-radius: 10px;
//    font-family: @font-family-base;
//    color: @light-4;
//    fill: @light-4;
//    background-color: @light-0;
// }

// .ant-dropdown-menu-item:hover {
//    color: @light-5;
//    fill: @light-5;
//    background-color: @light-0;
// }

// .ant-dropdown-menu-item-active {
//    color: @light-6;
//    fill: @light-6;
//    background-color: @light-0;
// }

// .ant-popover-inner {
//    border-radius: 18px !important;
//    background-color: @light-3 !important;
// }

// .ant-popover-title {
//    border-bottom: none !important;
//    border-top-left-radius: 18px;
//    border-top-right-radius: 18px;
//    background-color: @light-4 !important;
// }

// .ant-popover-arrow {
//    visibility: hidden !important;
// }

