@font-face {
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 400;
   src: local('Material Icons'), local('MaterialIcons-Regular'),
      url(../assets/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
      url(../assets/iconfont/MaterialIcons-Regular.woff) format('woff'),
      url(../assets/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

/* Aristotelica Display ExtraLight */
@font-face {
   font-family: 'Aristotelica Display';
   font-style: normal;
   font-weight: 200;
   src: local('Aristotelica Display ExtraLight'),
      local('AristotelicaDisplay-ExtraLight'),
      url(../assets/fonts/AristotelicaDisplay-ExtraLight.ttf) format('truetype');
}

/* --------------- SOURCE SANS PRO --------------- */

/* EXTRA LIGHT */
@font-face {
   font-family: 'Source Sans Pro';
   font-style: normal;
   font-weight: 200;
   src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'),
      url(../assets/fonts/SourceSansPro/SourceSansPro-ExtraLight.ttf)
         format('truetype');
}
@font-face {
   font-family: 'Source Sans Pro';
   font-style: italic;
   font-weight: 200;
   src: local('Source Sans Pro ExtraLightItalic'),
      local('SourceSansPro-ExtraLightItalic'),
      url(../assets/fonts/SourceSansPro/SourceSansPro-ExtraLightItalic.ttf)
         format('truetype');
}

/* LIGHT */
@font-face {
   font-family: 'Source Sans Pro';
   font-style: normal;
   font-weight: 300;
   src: local('Source Sans Pro Light'), local('SourceSansPro-Light'),
      url(../assets/fonts/SourceSansPro/SourceSansPro-Light.ttf)
         format('truetype');
}
@font-face {
   font-family: 'Source Sans Pro';
   font-style: italic;
   font-weight: 300;
   src: local('Source Sans Pro LightItalic'), local('SourceSansPro-LightItalic'),
      url(../assets/fonts/SourceSansPro/SourceSansPro-LightItalic.ttf)
         format('truetype');
}

/* REGULAR */
@font-face {
   font-family: 'Source Sans Pro';
   font-style: normal;
   font-weight: 400;
   src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
      url(../assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf)
         format('truetype');
}
@font-face {
   font-family: 'Source Sans Pro';
   font-style: italic;
   font-weight: 400;
   src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'),
      url(../assets/fonts/SourceSansPro/SourceSansPro-Italic.ttf)
         format('truetype');
}

/* SEMIBOLD */
@font-face {
   font-family: 'Source Sans Pro';
   font-style: normal;
   font-weight: 600;
   src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'),
      url(../assets/fonts/SourceSansPro/SourceSansPro-SemiBold.ttf)
         format('truetype');
}
@font-face {
   font-family: 'Source Sans Pro';
   font-style: italic;
   font-weight: 600;
   src: local('Source Sans Pro SemiBoldItalic'),
      local('SourceSansPro-SemiBoldItalic'),
      url(../assets/fonts/SourceSansPro/SourceSansPro-SemiBoldItalic.ttf)
         format('truetype');
}

/* BOLD */
@font-face {
   font-family: 'Source Sans Pro';
   font-style: normal;
   font-weight: 700;
   src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
      url(../assets/fonts/SourceSansPro/SourceSansPro-Bold.ttf)
         format('truetype');
}
@font-face {
   font-family: 'Source Sans Pro';
   font-style: italic;
   font-weight: 700;
   src: local('Source Sans Pro BoldItalic'), local('SourceSansPro-BoldItalic'),
      url(../assets/fonts/SourceSansPro/SourceSansPro-BoldItalic.ttf)
         format('truetype');
}

/* BLACK */
@font-face {
   font-family: 'Source Sans Pro';
   font-style: normal;
   font-weight: 900;
   src: local('Source Sans Pro Black'), local('SourceSansPro-Black'),
      url(../assets/fonts/SourceSansPro/SourceSansPro-Black.ttf)
         format('truetype');
}
@font-face {
   font-family: 'Source Sans Pro';
   font-style: italic;
   font-weight: 900;
   src: local('Source Sans Pro BlackItalic'), local('SourceSansPro-BlackItalic'),
      url(../assets/fonts/SourceSansPro/SourceSansPro-BlackItalic.ttf)
         format('truetype');
}

/* QUATTROCENTO SANS */

@font-face {
   font-family: 'Quattrocento Sans';
   font-style: normal;
   font-weight: 400;
   src: local('Quattrocento Sans Regular'), local('QuattrocentoSans-Regular'),
      url(../assets/fonts/QuattrocentoSans/QuattrocentoSans-Regular.ttf)
         format('truetype');
}
@font-face {
   font-family: 'Quattrocento Sans';
   font-style: italic;
   font-weight: 400;
   src: local('Quattrocento Sans Italic'), local('QuattrocentoSans-Italic'),
      url(../assets/fonts/QuattrocentoSans/QuattrocentoSans-Italic.ttf)
         format('truetype');
}
@font-face {
   font-family: 'Quattrocento Sans';
   font-style: normal;
   font-weight: 600;
   src: local('Quattrocento Sans Bold'), local('QuattrocentoSans-Bold'),
      url(../assets/fonts/QuattrocentoSans/QuattrocentoSans-Bold.ttf)
         format('truetype');
}
@font-face {
   font-family: 'Quattrocento Sans';
   font-style: italic;
   font-weight: 600;
   src: local('Quattrocento Sans Bold Italic'),
      local('QuattrocentoSans-BoldItalic'),
      url(../assets/fonts/QuattrocentoSans/QuattrocentoSans-BoldItalic.ttf)
         format('truetype');
}

/* -------------- Nunito -------------- */

/* EXTRA LIGHT */
@font-face {
   font-family: 'Nunito';
   font-style: normal;
   font-weight: 200;
   src: local('Nunito ExtraLight'), local('Nunito-ExtraLight'),
      url(../assets/fonts/Nunito/Nunito-ExtraLight.ttf) format('truetype');
}
@font-face {
   font-family: 'Nunito';
   font-style: italic;
   font-weight: 200;
   src: local('Nunito ExtraLightItalic'), local('Nunito-ExtraLightItalic'),
      url(../assets/fonts/Nunito/Nunito-ExtraLightItalic.ttf) format('truetype');
}

/* LIGHT */
@font-face {
   font-family: 'Nunito';
   font-style: normal;
   font-weight: 300;
   src: local('Nunito Light'), local('Nunito-Light'),
      url(../assets/fonts/Nunito/Nunito-Light.ttf) format('truetype');
}
@font-face {
   font-family: 'Nunito';
   font-style: italic;
   font-weight: 300;
   src: local('Nunito LightItalic'), local('Nunito-LightItalic'),
      url(../assets/fonts/Nunito/Nunito-LightItalic.ttf) format('truetype');
}

/* REGULAR */
@font-face {
   font-family: 'Nunito';
   font-style: normal;
   font-weight: 400;
   src: local('Nunito Regular'), local('Nunito-Regular'),
      url(../assets/fonts/Nunito/Nunito-Regular.ttf) format('truetype');
}
@font-face {
   font-family: 'Nunito';
   font-style: italic;
   font-weight: 400;
   src: local('Nunito Italic'), local('Nunito-Italic'),
      url(../assets/fonts/Nunito/Nunito-Italic.ttf) format('truetype');
}

/* SEMIBOLD */
@font-face {
   font-family: 'Nunito';
   font-style: normal;
   font-weight: 600;
   src: local('Nunito SemiBold'), local('Nunito-SemiBold'),
      url(../assets/fonts/Nunito/Nunito-SemiBold.ttf) format('truetype');
}
@font-face {
   font-family: 'Nunito';
   font-style: italic;
   font-weight: 600;
   src: local('Nunito SemiBoldItalic'), local('Nunito-SemiBoldItalic'),
      url(../assets/fonts/Nunito/Nunito-SemiBoldItalic.ttf) format('truetype');
}

/* BOLD */
@font-face {
   font-family: 'Nunito';
   font-style: normal;
   font-weight: 700;
   src: local('Nunito Bold'), local('Nunito-Bold'),
      url(../assets/fonts/Nunito/Nunito-Bold.ttf) format('truetype');
}
@font-face {
   font-family: 'Nunito';
   font-style: italic;
   font-weight: 700;
   src: local('Nunito BoldItalic'), local('Nunito-BoldItalic'),
      url(../assets/fonts/Nunito/Nunito-BoldItalic.ttf) format('truetype');
}

/* BOLD */
@font-face {
   font-family: 'Nunito';
   font-style: normal;
   font-weight: 800;
   src: local('Nunito ExtraBold'), local('Nunito-ExtraBold'),
      url(../assets/fonts/Nunito/Nunito-ExtraBold.ttf) format('truetype');
}
@font-face {
   font-family: 'Nunito';
   font-style: italic;
   font-weight: 800;
   src: local('Nunito ExtraBoldItalic'), local('Nunito-ExtraBoldItalic'),
      url(../assets/fonts/Nunito/Nunito-ExtraBoldItalic.ttf) format('truetype');
}

/* BLACK */
@font-face {
   font-family: 'Nunito';
   font-style: normal;
   font-weight: 900;
   src: local('Nunito Black'), local('Nunito-Black'),
      url(../assets/fonts/Nunito/Nunito-Black.ttf) format('truetype');
}
@font-face {
   font-family: 'Nunito';
   font-style: italic;
   font-weight: 900;
   src: local('Nunito BlackItalic'), local('Nunito-BlackItalic'),
      url(../assets/fonts/Nunito/Nunito-BlackItalic.ttf) format('truetype');
}

/* ------------- Open Sans ------------- */

/* LIGHT */
@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 300;
   src: local('Open Sans Light'), local('OpenSans-Light'),
      url(../assets/fonts/OpenSans/OpenSans-Light.ttf) format('truetype');
}
@font-face {
   font-family: 'Open Sans';
   font-style: italic;
   font-weight: 300;
   src: local('Open Sans LightItalic'), local('OpenSans-LightItalic'),
      url(../assets/fonts/OpenSans/OpenSans-LightItalic.ttf) format('truetype');
}

/* REGULAR */
@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   src: local('Open Sans Regular'), local('OpenSans-Regular'),
      url(../assets/fonts/OpenSans/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
   font-family: 'Open Sans';
   font-style: italic;
   font-weight: 400;
   src: local('Open Sans Italic'), local('OpenSans-Italic'),
      url(../assets/fonts/OpenSans/OpenSans-Italic.ttf) format('truetype');
}

/* SEMIBOLD */
@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 600;
   src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
      url(../assets/fonts/OpenSans/OpenSans-SemiBold.ttf) format('truetype');
}
@font-face {
   font-family: 'Open Sans';
   font-style: italic;
   font-weight: 600;
   src: local('Open Sans SemiBoldItalic'), local('OpenSans-SemiBoldItalic'),
      url(../assets/fonts/OpenSans/OpenSans-SemiBoldItalic.ttf)
         format('truetype');
}

/* BOLD */
@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 700;
   src: local('Open Sans Bold'), local('OpenSans-Bold'),
      url(../assets/fonts/OpenSans/OpenSans-Bold.ttf) format('truetype');
}
@font-face {
   font-family: 'Open Sans';
   font-style: italic;
   font-weight: 700;
   src: local('Open Sans BoldItalic'), local('OpenSans-BoldItalic'),
      url(../assets/fonts/OpenSans/OpenSans-BoldItalic.ttf) format('truetype');
}

/* EXTRABOLD */
@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 800;
   src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
      url(../assets/fonts/OpenSans/OpenSans-ExtraBold.ttf) format('truetype');
}
@font-face {
   font-family: 'Open Sans';
   font-style: italic;
   font-weight: 800;
   src: local('Open Sans ExtraBoldItalic'), local('OpenSans-ExtraBoldItalic'),
      url(../assets/fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf)
         format('truetype');
}

/* ------------- Lato ------------- */

/* LIGHT */
@font-face {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 300;
   src: local('Lato Light'), local('OpenSans-Light'),
      url(../assets/fonts/Lato/Lato-Light.ttf) format('truetype');
}
@font-face {
   font-family: 'Lato';
   font-style: italic;
   font-weight: 300;
   src: local('Lato LightItalic'), local('Lato-LightItalic'),
      url(../assets/fonts/Lato/Lato-LightItalic.ttf) format('truetype');
}

/* REGULAR */
@font-face {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   src: local('Lato Regular'), local('Lato-Regular'),
      url(../assets/fonts/Lato/Lato-Regular.ttf) format('truetype');
}
@font-face {
   font-family: 'Lato';
   font-style: italic;
   font-weight: 400;
   src: local('Lato Italic'), local('Lato-Italic'),
      url(../assets/fonts/Lato/Lato-Italic.ttf) format('truetype');
}

/* BOLD */
@font-face {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   src: local('Lato Bold'), local('Lato-Bold'),
      url(../assets/fonts/Lato/Lato-Bold.ttf) format('truetype');
}
@font-face {
   font-family: 'Lato';
   font-style: italic;
   font-weight: 700;
   src: local('Lato BoldItalic'), local('Lato-BoldItalic'),
      url(../assets/fonts/Lato/Lato-BoldItalic.ttf) format('truetype');
}

/* BLACK */
@font-face {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 800;
   src: local('Lato Black'), local('Lato-Black'),
      url(../assets/fonts/Lato/Lato-Black.ttf) format('truetype');
}
@font-face {
   font-family: 'Lato';
   font-style: italic;
   font-weight: 800;
   src: local('Lato BlackItalic'), local('Lato-BlackItalic'),
      url(../assets/fonts/Lato/Lato-BlackItalic.ttf) format('truetype');
}
