@import '../../../../../styles/app.theme.less';

.layout {
   min-height: 100px;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 15px auto;
   max-width: 794px;
   // padding: 0px 60px;
}

.plus {
   height: 30px;
}


.searchResults {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.input {
   margin: auto;

   max-width: 794px;
   border: none;
   width: 100%;
   font-size: 20px;
   margin-bottom: 10px;
}

.wrapper {
   margin-left: auto;
   margin-right: auto;
   padding-right: 1.5em;
   padding-left: 1.5em;
   max-width: 90%;
   max-height: 450px;
   overflow-y: scroll;
   margin-bottom: 10px;
}

.hr {
   border-top: 1px solid @light-2;
}

/* Masonry grid */
.masonry {
   transition: all .5s ease-in-out;
   column-gap: 30px;
   column-fill: initial;
}

/* Masonry item */
.masonry .brick {
   margin-bottom: 30px;
   display: inline-block;
   /* Fix the misalignment of items */
   vertical-align: top;
   /* Keep the item on the very top */
}

/* Masonry image effects */
.masonry .brick img {
   transition: all .5s ease-in-out;
   backface-visibility: hidden;
   border-radius: 5px;
   /* Remove Image flickering on hover */
}

.masonry .brick:hover img {
   opacity: .75;
}

/* Bordered masonry */
.masonry.bordered {
   column-rule: 1px solid #eee;
   column-gap: 50px;
}

.masonry.bordered .brick {
   padding-bottom: 25px;
   margin-bottom: 25px;
   border-bottom: 1px solid #eee;
}

/* Gutterless masonry */
.masonry.gutterless {
   column-gap: 0;
}

.masonry.gutterless .brick {
   margin-bottom: 0;
}

/* Masonry on tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
   .masonry {
      column-count: 3;
   }
}

/* Masonry on big screens */
@media only screen and (min-width: 1024px) {
   .masonry {
      column-count: 3;
   }
}


// --- LIGHT ---

:global(.Light).layout {
   background-color: lighten(@light-3, 80%);
   border: 3px dashed @light-2;
   color: lighten(@light-3, 40%);
}

:global(.Light).input {
   border-bottom: 1px solid @light-2;
   color: lighten(@light-3, 20%);
}

:global(.Light).input::placeholder {
   color: lighten(@light-3, 20%);
}

:global(.Light).plus {
   fill: @light-2;
}


// --- Dark ---
:global(.Dark).layout {
   background-color: @dark-3;
   border: 3px dashed @light-2;
   color: @light-3;
}

:global(.Dark).plus {
   fill: @light-2;
}
