@import '../../../styles/app.theme.less';

.containerPopup {
   position: relative;
}

.test {
   position: absolute;
   width: max-content;
   height: max-content;
}

.triggerEvent {
   // position: absolute;
   // border:1px solid blue;
   z-index: 1;
   display: flex;
   align-items: center;
   width: max-content;
   // height: max-content;
}

.popup {
   z-index: 10;
   //opacity: 0;
   // visibility: hidden;
   // visibility: visible;
   transition: opacity 200ms ease-in-out;
   border-radius: 3px;
   // position: absolute;
   width: max-content;
   height: max-content;
   background-color: @light-0;
   //padding: 6px;
   user-select: none;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
   display: flex;
   flex-direction: row-reverse;
}

.containerPopupElement {
   cursor: pointer;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: row;
   margin: 5px;
   opacity: 1 !important;
}

.test {
   display: flex;
   flex-direction: row;
}

.popupIcon {
   width: 20px;
   padding: 2px;
}

.containerPopupElement:hover {
   opacity: 1;
}

.popupText {
   font-size: 13px;
   margin-left: 8px;
   padding: 2px;
   font-family: @font-secondary;
   font-weight: 500;
}

.hidden {
   // opacity: 0;
   // z-index: -1;
   // visibility: hidden;

   // display: none;
}

.visible {
   opacity: 1;
    visibility: visible;
    display: flex;
}

.closeButton {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: -13px;
   margin-left: 13px;
   z-index: 11;
   position: absolute;
   height: 25px;
   width: 25px;
   border-radius: 50%;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.iconClose {
   width: 10px;
}

.popUpElements {
   padding-top: 7px;
   padding-bottom: 7px;
   padding-left: 14px;
   padding-right: 14px;
}

// --- LIGHT ---

:global(.Light).closeButton
{
   background-color: mix(@light-0, @light-3, 70%);
}

:global(.Light).closeButton:hover
{
   background-color: mix(@light-0, @light-3, 0%);
}

:global(.Light).iconClose {
   fill: @light-4;
}


:global(.Light).popupText {
   color: @light-3;
}

:global(.Light).popupIcon {
   fill: @light-3;
}

// --- DARK ---

:global(.Dark).closeButton {
   background-color: mix(@dark-0, @dark-3, 70%);
}

:global(.Dark).closeButton:hover {
   background-color: mix(@dark-0, @dark-3, 0%);
}

:global(.Dark).iconClose {
   fill: @dark-4;
}

:global(.Dark).popupText {
   color: @dark-3;
}

:global(.Dark).popupIcon {
   fill: @dark-3;
}


// --- TRANSITION ---

.enter {
   // transform: scale(0.9);
   transform: scaleY(0.8);
   transform-origin: 0% 0%;
   opacity: 0;
}
.enterActive {
   // transform: translateX(0);
   transition: opacity 200ms, transform 200ms;
   transform: scaleY(1);
   transform-origin: 0% 0%;
   opacity: 1;
}
.exit  {
   opacity: 1;
}

.exitActive {
   transform: scaleY(0.8);
   transform-origin: 0% 0%;
   opacity: 0;
   transition: opacity 200ms, transform 200ms;
}
