@import '../../../../../styles/app.theme.less';

.layout {
   position: absolute;
   width: 100px;
   height: 100px;
   border: 1px solid red;
   z-index: 1001;

}


// --- LIGHT ---

:global(.Light).layout {
   background-color: @light-3;
}


// --- Dark ---
:global(.Dark).layout {
   background-color: @dark-3;
}

