@import '../../styles/app.theme.less';

.container {
   display: flex;
   flex-direction: column;
   margin-top: 10vh;
   margin-bottom: 10vh;
   margin-left: 10vw;
   margin-right: 10vw;
   // border: 1px solid blue;
}

.title {
   font-family: @font-primary;
   font-weight: 300;
   font-size: 35px;
   padding-left: 15px;
   margin-bottom: 35px;
}

.layout {
   height: 100%;
   transition: background-color 300ms ease-in-out;
   display: flex;
   // border: 1px solid red;
}

@media (min-width: 1070px) {
   .layout {
      height: 500px;
      // border: 1px solid brown;
   }
}

.infoList {
   width: 100%;
   // overflow-y: scroll;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   // border: 1px solid blue;
}

.infoItem {
   height: 60px;
   width: 350px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-bottom-width: 1px;
   border-bottom-style: solid;
   // border: 1px solid greenyellow;
   margin-top: 20px;  
   margin-right: 25px;
   margin-left: 25px;
}

.infoItemError {
   border-bottom-color: fade(red, 20%) !important;
}

.infoItem:nth-child(1) {
   border-top-width: 0px;
}

.infoItemName {
   font-family: @font-primary;
   font-weight: 700;
   font-size: 12px;
   padding-left: 20px;
   margin-bottom: 3px;
}

.infoItemNameError {
   color: fade(red, 70%) !important;
}

.infoItemInput {
   font-family: @font-secondary;
   font-weight: 400;
   font-size: 18px;
   border-color: transparent;
   width: 100%;
   // padding-left: 5px;
   // margin-left: 15px;
   // margin-right: 20px;
   background-color: transparent;
}

.containerChildrenField {
   padding-left: 5px;
   margin-left: 15px;
   margin-right: 20px;
}

.infoItemInputError {
   color: fade(red, 70%) !important;
}

.profilePictureContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: relative;
   width: 300px;
   height: 140px;
   margin-bottom: 30px;
   flex-grow: 1;
}

.cropcircle {
   position: absolute;
   z-index: 1;
   width: 140px;
   height: 140px;
   border-radius: 100%;
   background: #eee no-repeat center;
   background-size: cover;
}

.profileIcon {
   min-width: 140px;
   max-width: 140px;
   width: 140px;
   min-height: 140px;
   max-height: 140px;
   height: 140px;
}

.iconAndName {
   margin-top: 10px;
   display: flex;
   align-items: center;
}

.iconCamera {
   width: 18px;
   fill: inherit;
}

.editPicture {
   font-family: @font-primary;
   font-weight: 500;
   font-size: 15px;
   color: inherit;
   background-color: transparent;
   border: none;
   cursor: pointer;
}

// --- LIGHT ---
:global(.Light).layout {
   background-color: @light-0;
}

:global(.Light).infoItem {
   border-bottom-color: fade(@light-3, 20%);
}

:global(.Light).infoItemName {
   color: @light-3;
}

:global(.Light).infoItemInput,
:global(.Light).title {
   color: @light-4;
}

:global(.Light).infoItemInput:focus {
   // border: 1px solid @light-3;
}

:global(.Light).profileIcon {
   fill:  @light-3;
}

:global(.Light).iconAndName {
   fill:  @light-3;
   color:  @light-3;
}

// --- DARK ---

:global(.Dark).layout {
   background-color: @dark-2;
}

:global(.Dark).infoItem {
   border-bottom-color: fade(@dark-4, 30%);
}

:global(.Dark).infoItemName {
   color: @dark-4;
}

:global(.Dark).infoItemInput,
:global(.Dark).title {
   color: @dark-4;
}

:global(.Dark).infoItemInput:focus {
   border: 1px solid @dark-3;
}

:global(.Dark).profileIcon {
   fill:  @dark-3;
}

:global(.Dark).iconAndName {
   fill:  @dark-4;
   color:  @dark-4;
}
