@import '../../styles/app.theme.less';


.subjectList {
   overflow: auto;
   height: 100%;
}

.subjectRow {
   padding-top: 8px;
   padding-bottom: 8px;
   padding-left: 10%;
   padding-right: 10%;
}

.subjectIcon {
   min-width: 38px;
   min-height: 38px;
   max-width: 38px;
   max-height: 38px;
}

.subjectName {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   font-family: @font-secondary;
   margin-left: 20px;
   font-size: 30px;
   font-weight: 400;
   flex: 10;
   color: inherit;

}

.lastUpdated {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   font-family: @font-primary;
   font-weight: 300;
}

.popupContainer {
   flex: 1;
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
}

.moreButton {
   width: 28px;
   padding: 4px;
   border-radius: 50%
}

.addSubject {
   position: fixed;
   bottom: 20px;
   right: 25px;
   height: 50px;
   cursor: pointer;
}

// --- LIGHT ---

:global(.Light).subjectRow:hover {
   background-color: mix(@light-0, @light-3, 95%);
   fill: @light-4;

}

:global(.Light).subjectName,
:global(.Light).lastUpdated,
:global(.Light).subjectIcon,
:global(.Light).moreButton {
   color: @light-3;
   fill: @light-3;
}

:global(.Light).moreButton:hover {
   background-color: mix(@light-0, @light-3, 70%);
}

:global(.Light).addSubject {
   fill: @light-3;
}

// --- DARK ---

:global(.Dark).subjectRow:hover {
   background-color: mix(@dark-2, @dark-4, 95%);
   fill: @dark-4;

}

:global(.Dark).subjectName,
:global(.Dark).lastUpdated,
:global(.Dark).subjectIcon,
:global(.Dark).moreButton {
   color: @dark-4;
   fill: @dark-4;
}

:global(.Dark).moreButton:hover {
   background-color: mix(@dark-0, @dark-4, 70%);
}

:global(.Dark).addSubject {
   fill: @dark-4;
}


