.dropArea {
   width: 200px;
   height: 50px;
   border: 2px solid red;
}

.container {
   border: 1px solid black;
   width: 80%;
   height: 30px;
   margin: auto;
   display: flex;
}

.element1 {
   background-color: indianred;
   // width: 100%;
   flex-grow: 1;
}

.element2 {
   background-color: steelblue;
   // width: 100%;
   flex-grow: 10;

}

.element3 {
   background-color: plum;
   // width: 100%;
   flex-grow: 3;


}
