@import '../../styles/app.theme.less';

.layout {
   position: fixed;
   width: 270px;
   height: 65px;
   z-index: 1000;
   right: 15px;
   bottom: 5%;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 3px;
}

.icon {
   width: 25px;
   margin-right: 15px;
   fill: #61E89F;
}

.text {
   font-family: @font-primary;
   font-weight: 300;
   font-size: 25px;
}

// --- TRANSITION ---
@transition-duration : 200ms;

.enter {
   // transform: scale(0.9);
   transform: scaleY(0.8);
   transform-origin: 0% 100%;
   opacity: 0;
}
.enterActive {
   // transform: translateX(0);
   transition: opacity @transition-duration, transform @transition-duration;
   transform: scaleY(1);
   transform-origin: 0% 100%;
   opacity: 1;
}
.exit  {
   opacity: 1;
}

.exitActive {
   transform: scaleY(0.8);
   transform-origin: 0% 100%;
   opacity: 0;
   transition: opacity @transition-duration, transform @transition-duration;
}


// --- LIGHT THEME ---

:global(.Light).layout  {
   background-color: @light-3;
}

:global(.Light).text  {
   color: @light-0;
}

// --- DARK THEME ---


:global(.Dark).layout {
   background-color: @light-4;
}
