@import '../../styles/app.theme.less';

.gridItem {
   // min-width: 280px;
   width: 100%;
   // max-width: 280pxk;
   height: 120px;
   position: relative;
   // margin: 22px;
   box-sizing: border-box;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
}

.layout {
   width: 100%;
   height: 100%;
   border-radius: 5px;
   // background-image: linear-gradient(to right, rgb(192, 21, 21), rgb(250, 206, 87));
   display: flex;
   // justify-content: flex-end;
   flex-direction: column;
   // cursor: pointer;

   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: cover;
   object-fit: cover;
   transition: 200ms ease;
}

.layout:hover {
   transform: scale(1.06);
}


.layout:hover .overlay{
   // font-size: 25px;
   // transform: scale(1.06);
}

.overlay {
   // height: 60px;
   width: 100%;
   height: 100%;
   border-radius: 5px;
   padding: 3px 10px;
   overflow: hidden;
   z-index: 2;

   // cursor: pointer;

}

.title {
   transition: 200ms ease;
   font-size: 20px;
   margin-top: 20px;
   font-weight: 700;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.preview {
   text-overflow: ellipsis;
   font-size: 11px;
   overflow: hidden;
   text-overflow: ellipsis;
   -webkit-line-clamp: 2;
   display: -webkit-box;
   -webkit-box-orient: vertical;
}

.buttons {
   position: absolute;
   right: 6px;
   top: 10px;
   opacity: 0;
   display: flex;
   transition: opacity 200ms ease-out;
   z-index: 3;
}

.showButtons {
   opacity: 1;
}

.button {
   width: 20px;
   height: 20px;
   border: 1px solid rgba(255, 255, 255, 0.7);
   fill: rgba(255, 255, 255, 0.7);
   border-radius: 50%;
   padding: 3px;
   margin-right: 7px;
   line-height: 0;
}

.button:hover {
   border: 1px solid rgba(255, 255, 255, 1);
   fill: rgba(255, 255, 255, 1);
   // background-color: rgba(255, 255, 255, 0.2);
   cursor: pointer;
}


.folder {
   padding: 4px;

}

.delete:hover {
   border: 1px solid rgba(255, 0, 0, 1);
   fill: rgba(255, 0, 0, 1);
}


.coursesContainer {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   column-gap: 30px;
   row-gap: 30px;
   width: 100%;
   // border:1px solid red;
   // margin: auto;
   padding-left: 7%;
   padding-right: 5%;
   margin-bottom: 150px;
}

@media only screen and (max-width: 1200px) {
   .coursesContainer {
      grid-template-columns: 1fr 1fr 1fr;
   }
}

@media only screen and (max-width: 1000px) {
   .coursesContainer {
      grid-template-columns: 1fr 1fr;
   }
}

@media only screen and (max-width: 800px) {
   .coursesContainer {
      grid-template-columns: none;
   }
}

@media(max-width: 1333px) {
   .gridItem {
     flex-basis: 33.33%;
   }
 }

 @media(max-width: 1073px) {
    .gridItem {
     flex-basis: 33.33%;
   }
 }

 @media(max-width: 815px) {
   .gridItem {
     flex-basis: 50%;
   }
 }

 @media(max-width: 555px) {
   .gridItem {
     flex-basis: 100%;
   }
 }
// --- LIGHT ---

:global(.Light).layout {
   box-shadow: 0px 5px 11px rgba(0,0,0,.1);
}

:global(.Light).layout:hover {
   box-shadow: 0px 7px 13px rgba(0,0,0,.15);
}

:global(.Light).overlay {
   background-color: rgba(0, 0, 0, 0.35);
}

:global(.Light).title {
   color: @light-0;
}

:global(.Light).preview {
   color: @light-0;
}


// --- Dark ---
:global(.Dark).layout {
   background-color: @dark-3;
   border: 3px dashed @light-2;
   color: @light-3;
}

