@import '../../../../../styles/app.theme.less';

.quote {
   text-align: center;
   // font-style: italic;
   padding: 20px;
}

// --- LIGHT ---
:global(.Light).quote {
    background-color: mix(@light-0, @light-3, 95%);
}


// --- Dark ---
:global(.Dark).quote {
   background-color: mix(@dark-0, @dark-3, 95%);
}
