@import '../../styles/app.theme.less';

// Link

.linkButton {
   cursor: pointer;
   width: inherit;
   height: 35px;
   z-index: 2;
   padding-left: 22px;
   position: absolute;
   display: flex;
   flex-direction: row;
   align-items: center;
   opacity: 0.6;
}

.unselected:hover {
   opacity: 1;
}

// .unselected:hover {
//    background-color: @light-4;
// }

// .unselectedLight:hover {
//    background-color: @light-4;
// }

// .unselectedDark:hover {
//    background-color: @dark-2;
// }

.linkButtonIcon {
   // height: 25px;
   width: 27px;
   fill: inherit;
   vertical-align: middle;
}

.linkButtonName {
   font-family: @font-primary;
   font-size: 18px;
   margin-left: 22px;
   vertical-align: middle;
   transition: 150ms ease-in-out;
}


:global(.Light).linkButton {
   color: @light-3;
   fill: @light-3;
}

:global(.Light).selected {
   opacity: 1;
   fill: @light-4 !important;
   color: @light-4 !important;
}


:global(.Dark).linkButton {
   color: @dark-4;
   fill: @dark-4;
}

:global(.Dark).selected {
   opacity: 1;
   fill: @dark-4;
   color: @dark-4;
}
