@import '../../styles/app.theme.less';

// SideBar

.layout {
   // flex-grow: 0;
   // flex-shrink: 0;
   position: fixed;
   left: 0px;
   top: 0px;
   height: 100vh;
   // display: inline;
   -webkit-app-region: drag;
   // transition: border-color 0.3s ease-in-out;
   transition: border-color 300ms , width 300ms ease-in-out ;
   width: 68px;
   z-index: 98; /* Stay on top, but before modal mask ^_^  (we really need that global z-index thing) */
}

.expanded {
   width: 220px;
}

.sidebar {
   width: 100%;
   height: 100%; /* Full-height: remove this if you want "auto" height */
   top: 0; /* Stay at the top */
   left: 0;
   overflow-x: hidden; /* Disable horizontal scroll */
   display: flex;
   flex-direction: column;
   // justify-content: space-evenly;
   align-items: center;
   //border: 1px solid red;
   transition: background-color 300ms ;

}
.search {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   min-height: 69px;
   height: 69px;
   margin-top: 55px;
}
.iconSearch {
   opacity: 0.6;
   width: 30px;
}

.iconSearch:hover {
   cursor: pointer;
   opacity: 1;
}

.linksContainer {
   -webkit-app-region: no-drag;
   width: inherit;
   height: 300px;
   flex: 3 0 auto;
   //border:1px solid blue;
}

// Color

.color {
   fill: @light-4;
   color: @light-4;
}

// nate

.nate {
   margin-bottom: 40px;
   font-family: 'Aristotelica Display';
   font-size: 30px;
   color: @light-5;
}


.buttonCollapse {
   padding: 6px;
   width: 35px;
   height: 35px;
   display: flex;
   justify-content: flex-end;
   width: 100%;
}

.buttonCollapse:focus {
   outline: none !important;
}
.arrowCollapse {
   padding: 3px;
   width: 25px;
   transition: 0.4s ease-in-out;
   fill: @light-4;
   border-radius: 5px;
   border: none !important;
   background-color: transparent !important;
}

.arrowCollapse:hover {
   fill: @light-5;
   background-color: @light-4  !important;
}

// --- LIGHT ---
:global(.Light).iconSearch {
   fill: @light-3;
}

:global(.Light).sidebar {
   background-color: @light-1;
}

:global(.Light).layout {
   border-right: 1px solid @light-2;
}


// --- DARK ---

:global(.Dark).iconSearch {
   fill: @dark-4;
}

:global(.Dark).sidebar {
   background-color: @dark-2;
   color: @dark-4;
}

:global(.Dark).layout {
   border-right: 1px solid mix(@dark-0, @dark-3, 40%);
}
