@import '../../../../../styles/app.theme.less';


.container {
   text-align: center;
   padding-left: 10px;
}

.imagesContainerContainer {
   height: 500px;
   overflow: auto;
}

.imagesContainer {
   width:500px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   flex-wrap: wrap;
}

.imageContainer {
}

.image {
   width: 156px;
   height: 156px;
   margin: 5px;
   object-fit: cover;
   cursor: pointer;
   transition: transform 400ms ease-out;
}

.image:hover {
   z-index: 10;
   transform: scale(1.03);
}

.addImage {
   cursor: pointer;
   width: 65px;
   fill: @light-4;
   transition: 0.1s;
}

.addImage:hover {
   fill: @light-5;
}

.containerSearchInput {
   text-align: center;
}

.searchInput {
   width: 90%;
   border: none;
   border-radius: 10px;
   height: 23px;
   padding-left: 10px;
   margin: 5px;
}

.searchInput::placeholder {
   color: @light-4;
   font-size: 15px;
   font-weight: 300;
   text-align: center;
}

.searchInput:focus {
   text-align: left;
}

.popOverTitle {
   user-select: none;
   color: @light-0;
   font-weight: 600;
   font-size: 18px;
   margin:5px;
}
