@import '../../../../../styles/app.theme.less';


.insertImagePopup {
   position: absolute;
   margin-top: -14px;
   margin-left: 0px;
   z-index: 2;
}

@insertImagePopupBoxShadow : 2px 4px 20px 0px rgba(0, 0, 0, 0.15);
@insertImagePopupBorderRadius : 3px;

.languette {
   width: 50px;
   height: 50px;
   // border: 1px solid red;
   background-color: white;
   z-index: 2;
   box-shadow: @insertImagePopupBoxShadow;
   border-radius: @insertImagePopupBorderRadius;
}
.languette2 {
   position: absolute;
   margin-top: -40px;
   width: 50px;
   height: 50px;
   // border: 1px solid red;
   background-color: white;
   z-index: 4;
   border-radius: @insertImagePopupBorderRadius;
   cursor: default;

}

.popup {
   max-height: 400px;
   cursor: default;
   background-color: white;
   z-index: 3;
   box-shadow:  @insertImagePopupBoxShadow;
   border-radius: @insertImagePopupBorderRadius;
   display: flex;
   flex-direction: column;
}

.header {
   // border: 1px solid red;
   min-height: 60px;
   width: 400px;
   align-items: center;
   display: flex;
   //justify-content: space-around;
}

.upload {
   // border: 1px solid blue;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-left: 12px;
   // height: 100px;
}

.iconUpload {
   width: 24px;
   fill: inherit;

}

.uploadLabel {
   font-family: @font-primary;
   font-size: 10px;
   color: inherit;
}

.or {
   color: inherit;
   font-family: @font-primary;
   font-size: 10px;
   text-align: center;
   width: 40px;
   margin-left: 3px;
}

.iconSearch {
   fill: inherit;
   width: 30px;
}

.searchInput {
   font-family: @font-secondary;
   font-size: 22px;
   width: 252px;
   height: 30px;
   border: none;
}

// --- LIGHT ---

:global(.Light).upload,
:global(.Light).or,
:global(.Light).iconSearch {
   fill: @light-3;
   color: @light-3;
}

:global(.Light).upload:hover {
   fill: @light-4;
   color: @light-4;
}


:global(.Light).searchInput {
   color: @light-4;
   border-bottom: 1px solid mix(@light-0, @light-3, 50%);
}

:global(.Light).searchInput::placeholder {
   color: mix(@light-0, @light-3, 50%);
}

// --- TRANSITION ---

.enter {
   opacity: 0;
   transform-origin: 0% 0%;
   transform: scaleY(0.9);
}

.enterActive {
   opacity: 1;
   transform-origin: 0% 0%;
   transform: scaleY(1);
   transition: 300ms;
}

.exit  {
   opacity: 1;
   transform-origin: 0% 0%;
   transform: scaleY(1);
}

.exitActive {
   opacity: 0;
   transform-origin: 0% 0%;
   transform: scaleY(0.9);
   transition: 300ms;
}
