@import '../../../../../styles/app.theme.less';


.hideBackground {
   position: absolute;
   background-color: white;
   // border: 1px solid red;
   width: 270px;
   height: 50px;
   margin-top: -14px;
   z-index: 1;
}

.appear {
   opacity: 0;
}

.appearActive {
   opacity: 1;
   transition: 600ms;
}

.enter {
   opacity: 0;
}

.enterActive {
   opacity: 1;
   transition: 400ms;
}

.enterDone {
   // transition: transform 300ms;
}

.exit  {
   opacity: 1;
}

.exitActive {
   opacity: 0;
   transition: 200ms;
}

.layout {
   position: absolute;
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 270px;
   margin-top: -8px;
   // height: 10px;
   cursor: default;
   z-index: 10;
   // background-color: @light-0;
   //border: 1px solid black;
}
