@import '../../../../../styles/app.theme.less';

.layout {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   // width: 300px;
   // height: 30px;
   // cursor: pointer;
   // border: 1px solid black;
   max-width: 30px;

}

.icon {
   width: 25px;
   fill: inherit
}

.label {
   font-family: @font-primary;
   font-size: 10px;
   text-align: center;
}

// --- LIGHT ---

:global(.Light).layout {
   fill: @light-3;
   color: @light-3;
}
:global(.Light).layout:hover {
   fill: @light-4;
   color: @light-4;

}


// --- Dark ---
:global(.Dark).icon {
   fill: @dark-3;
}
