@import '../../../../../styles/app.theme.less';


.layout {
   position: absolute;
}

.hidden {
   // visibility: hidden;
   opacity: 0;
}

.plusButton {
   cursor: pointer;
   width: 24px;
   margin-top: -2px;
   margin-left: -35px;
   transition: transform 200ms ease-out;
}

.open {
   transform: rotate(45deg);
}


// --- LIGHT ---

:global(.Light).plusButton {
   fill: @light-3;
}
:global(.Light).plusButton:hover {
   fill: @light-4;
}


// --- Dark ---
:global(.Dark).plusButton {
   fill: @dark-3;
}


// Transition

.appear {
   opacity: 0;
}

.appearActive {
   opacity: 1;
   transition: 200ms;
}

.enter {
   opacity: 0;
}

.enterActive {
   opacity: 1;
   transition: 200ms;
}

.enterDone {
   opacity: 1;
   // transition: transform 300ms;
}

.exit  {
   opacity: 1;
}

.exitActive {
   opacity: 0;
   transition: 200ms;
}
