.containerScheduleEvent {
   border-radius: 0px !important;
   color: black !important;
   display: none;
   background-color: white !important;
   padding: 5px;
}

.containerScheduleEvent {
   border-radius: 0px !important;
   color: white !important;
   background-color: #5C6974 !important;
   border: none !important;
}
