@import "../../styles/app.theme.less";

.layout {
   height: 100%;
   overflow: hidden;
}

.addSubject {
   position: fixed;
   bottom: 20px;
   right: 25px;
   height: 50px;
   cursor: pointer;
}

// --- LIGHT ---

:global(.Light).addSubject {
   fill: @light-3;
}

// --- DARK ---

:global(.Dark).addSubject {
   fill: @dark-4;
}

