@import '../../styles/app.theme.less';

.headerContainer {
   height: 150px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   padding-left: 8%;
   flex-shrink: 0;
   margin-bottom: 15px;
}


.parent {
   will-change: font-size, font-weight;
   cursor: pointer;
   font-family: @font-primary;
   font-size: 16px;
   font-weight: 400;
  // padding-left: 10px;
   transition: opacity 200ms ease-in-out;
}

.parent:hover {
   opacity: 1 !important;
   transition: opacity 0ms !important;
}

.title {
   will-change: font-size, font-weight;

   width: 100%;
   font-family: @font-primary;
   font-size: 30px;
   font-weight: 700;
   opacity: 1! important;
  // padding-left: 10px;
}


.titleHiddenBottom {
   margin-bottom: -41px;
   opacity: 0 !important;
}

.transition {
   // pointer-events: none;
   transition: 200ms ease-in-out;
}

// --- LIGHT ---
:global(.Light).layout {
   background-color: @light-0;
}

:global(.Light).title,
:global(.Light).parent {
   color: @light-3;
  // border-left: 1px solid @light-3;

}


// --- DARK ---

:global(.Dark).layout {
   background-color: @dark-2;
}

:global(.Dark).title,
:global(.Dark).parent {
   color: @dark-4;
  // border-left: 1px solid @dark-4;
}
