@import '../../styles/app.theme.less';

.header {
   margin-top: 80px;
   margin-left: 80px;
   margin-bottom: 30px;
   display: flex;
   flex-direction: row;
}

.icon {
   width: 35px;
   fill: @light-accent;
}


.name {
   font-family: @font-primary;
   font-size: 25px;
   color: @light-accent;
   font-weight: 700;
   margin-left: 22px;
   letter-spacing: 0.03em;
}
