@import '../../styles/app.theme.less';

.layout {
   display: flex;
   flex-direction: column;
   width:100%;
   height:100%;
}

.droppingFile {
   pointer-events: none;
   // border: 1px solid blue;
}

.droppingFileBackground {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: fade(@light-3, 20%);
   border: 2px solid fade(@light-3, 80%);
   top: 0px;
   left: 0px;
   display: flex;
   align-items: center;
   justify-content: center;

}

.droppingFileBackgroundInside {
   height: 200px;
   width: 400px;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 2rem;
   color: @light-3;
   z-index: 100;
   box-shadow: 0px 10px 30px rgba(0,0,0,.1);
   border-radius: 10px;
}

.tabs {
}

.header {
}

// --- LIGHT ---

:global(.Light).layout {
   background-color: @light-0;
}

// --- DARK ---

:global(.Dark).layout {
   background-color: @dark-2;
}
