@import '../../../../../../styles/app.theme.less';


.unstyle {
   border: none;
}

.highlight {
   cursor: pointer;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   margin-left: 6px;
   margin-right: 6px;
}

.highlight:hover {
   border:1px solid rgba(255, 255, 255, 0.5);
}

.highlightActive {
   border:1px solid rgba(255, 255, 255, 0.5);
}

.iconWrapper {
   margin-left: 1px;
   margin-right: 1px;
   width: 28px;
   height: 24px;
   padding: 3px 5px;
   cursor: pointer;
   opacity: 0.6;
}

.iconWrapper:hover {
   opacity: 1;
}

.iconWrapperActive {
   margin-left: 1px;
   margin-right: 1px;
   width: 28px;
   height: 24px;
   padding: 3px 5px;
   cursor: pointer;
   opacity: 1;
}

.svg {
   // fill: inherit;
}

// --- LIGHT ---
:global(.Light).svg {
   fill: @light-0;
}


// --- Dark ---
:global(.Dark).svg {
   fill: @dark-4;
}

