@import '../../../styles/app.theme.less';

.layout {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   width: 150px;
}

.container {
   width: 100px;
}

.buttonContainer {
   width: 14px;
   height: 14px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   transition: 200ms;
}

.button {
   width: 10px;
   height: 10px;
   fill: inherit;
}

// --- LIGHT ---

:global(.Light).buttonContainer {
   fill: @light-3;
}

:global(.Light).buttonContainer:hover {
   fill: @light-1;
   background-color: @light-3;
}


// --- DARK ---


:global(.Dark).buttonContainer {
   fill: @dark-3;
}

:global(.Dark).buttonContainer:hover {
   fill: @dark-2;
   background-color: @dark-3;
}
