@import './styles/app.theme.less';

.layout {
   position: absolute;
   margin-left: 68px;
   // flex-grow: 1;
   // flex-shrink: 1;
   display: flex;
   flex-direction: column;
   // width: 100%;
   width: calc(100% - 68px);
   overflow: hidden;
   height: 100%;
   // max-height: 100%;
   transition: background-color 300ms;
}


// --- LIGHT ---
:global(.Light).layout {
   background-color: @light-0;
}

// --- DARK ---

:global(.Dark).layout {
   background-color: @dark-2;
}

