@import '../../../../../styles/app.theme.less';

.layout {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    //  overflow: auto;
    /* Enable scroll if needed */
    // background-color: rgb(0,0,0); /* Fallback color */
    // background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    // z-index: 99;
    z-index: 99;
    //  display: flex;
    //  flex-direction: column;
    //  align-items: center;
    //  justify-content: center;
    background-color: rgba(27, 27, 27, 0.98);

}

.mask {
    position: absolute;
    background-color: rgba(27, 27, 27, 0.98);
    width: 100%;
    height: 100%;
    z-index: 98;
}

.container {
    z-index: 99;

}

.iconClose {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 40px;
    fill: white;
    cursor: pointer;
    z-index: 99;

}

.imageContainer {
    height: 100vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.image {
    max-width: 85%;
    max-height: 80%;
    width: auto;
    height: auto;
}

.caption {
    padding-top: 8px;
    color: white;
    font-family: @font-primary;
    font-style: italic;
    font-size: 18px;
    text-align: center;
    margin: auto;
    width: 100%;
}

.sliderWrapper {
    position: fixed;
    bottom: 13px;
    left: 0px;
    display: flex;
    justify-content: center;
    width: 100%;

}

.slider {
    width: 200px;
}

// --- LIGHT ---
:global(.Light).layout {
    // background-color: rgba(49, 49, 49, 0.979);
    // background-color: white;
}

:global(.Light).caption {
    color: @light-3;
}

:global(.Light).focused {
    box-shadow: 0 0 0 4px @light-3;
}


// --- Dark ---
:global(.Dark).caption {
    color: @dark-3;
}

:global(.Dark).focused {
    box-shadow: 0 0 0 4px @dark-3;
}


// --- TRANSITION ---
@transition-duration : 200ms;

.enter {

   transform-origin: 0% 100%;
   opacity: 0;
}
.enterActive {
   transition: opacity @transition-duration;
   opacity: 1;
}
.exit  {
   opacity: 1;
}

.exitActive {
   opacity: 0;
   transition: opacity @transition-duration;
}

