
@import '../../../../../styles/app.theme.less';

@image-position-tooltip-height: 38px;
@image-position-tooltip-margin-bottom: 8px;

.layout {
   // position: absolute;
   left: 0;
   right: 0;
   width: 200px;
   margin-top: ((@image-position-tooltip-height + @image-position-tooltip-margin-bottom)  * -1);
   height: @image-position-tooltip-height + @image-position-tooltip-margin-bottom;
   z-index: 1;
   cursor: default;
}

.tooltip {
   width: 100%;
   height: @image-position-tooltip-height;
   margin-bottom: @image-position-tooltip-height;
   border-radius: 4px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.icon {
   width: 26px;
   cursor: pointer;
}

// --- LIGHT ---
:global(.Light).tooltip {
   background-color: @light-3;
}


:global(.Light).icon {
   fill: mix(@light-0, @light-3, 80%);
}

:global(.Light).icon:hover,
:global(.Light).active {
   fill: @light-1;
}


// --- Dark ---
:global(.Dark).tooltip {
   background-color: @dark-3;
}

:global(.Dark).icon {
   fill: mix(@dark-0, @dark-3, 80%);
}

:global(.Dark).icon:hover,
:global(.Dark).active {
   fill: @dark-2;
}

// --- TRANSITION ---
@transition-duration : 200ms;

.enter {
   // transform: scale(0.9);
   transform: scaleY(0.8);
   transform-origin: 0% 100%;
   opacity: 0;
}
.enterActive {
   // transform: translateX(0);
   transition: opacity @transition-duration, transform @transition-duration;
   transform: scaleY(1);
   transform-origin: 0% 100%;
   opacity: 1;
}
.exit  {
   opacity: 1;
}

.exitActive {
   transform: scaleY(0.8);
   transform-origin: 0% 100%;
   opacity: 0;
   transition: opacity @transition-duration, transform @transition-duration;
}

