@import '../../../../../styles/app.theme.less';


.layout {
   display: block;
}

.trickToGetWidth {
    width: 100%;
    height: 0;
}

.image {
    width: 100%;
    // transition: 200ms ease-out;
    display: flex;
    align-items: center;
    flex-direction: column;
    // border: 1px solid black;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 4px;
}

.img {
    // border-radius: 2px;
    width: 100%;
    cursor: default;
    // border: 1px solid blue;
}

.focused {
    cursor: zoom-in;
}

// ------ ALIGN LEFT ------

.imageLeft {
    float: left;
    margin-right: 30px;


}

// @media (max-width: 850px) {
//     .imageLeft {
//       width: 100%;
//       max-width: 100%;
//       float: none;
//       margin-top: 0px;
//       margin-right: 0px;
//       margin-bottom: 0px;
//     }
// }

// ------ ALIGN CENTER ------

.imageCenter {}

// ------ ALIGN EXTENDED ------

@media (min-width: 1100px) {
    .imageExtended {
        margin-left: -100px;
        width: calc(100% + 200px) !important;
    }
}

.imageRight {
    width: 400px;
    float: right;
    margin-right: -60px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.dragHandleContainer {
    align-self: flex-end;
    position: relative;
    max-width: 0px;
    max-height: 0px;
}

.dragHandle {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -11px;
    margin-top: -11px;
    cursor: nwse-resize;
}

.dragging {
    cursor: nwse-resize;
}


.caption {
    background: transparent;
    resize: none;
    border: none;
    font-family: @font-primary;
    font-style: italic;
    font-size: 15px;
    text-align: center;
    margin: auto;
    width: 100%;
}


// --- LIGHT ---
:global(.Light).caption {
    color: @light-3;
}

:global(.Light).focused {
    box-shadow: 0 0 0 4px @light-3;
}

:global(.Light).dragHandle {
   fill: @light-3;
}


// --- Dark ---
:global(.Dark).caption {
    color: @dark-3;
}

:global(.Dark).focused {
    box-shadow: 0 0 0 4px @dark-3;
}

:global(.Dark).dragHandle {
   fill: @dark-3;
}


// --- TRANSITION ---
@transition-duration : 200ms;

.enter {
    // transform: scale(0.9);
    transform: scaleY(0.8);
    transform-origin: 0% 100%;
    opacity: 0;
}

.enterActive {
    // transform: translateX(0);
    transition: opacity @transition-duration, transform @transition-duration;
    transform: scaleY(1);
    transform-origin: 0% 100%;
    opacity: 1;
}

.exit {
    opacity: 1;
}

.exitActive {
    transform: scaleY(0.8);
    transform-origin: 0% 100%;
    opacity: 0;
    transition: opacity @transition-duration, transform @transition-duration;
}
