@import '../../../../../styles/app.theme.less';

.layout {
   position: absolute;
   // left: 90px;
    top: 100px;

   // border: 1px solid green ;
   display: flex;
   flex-direction: column;
   z-index: 1001;
}

.levelOne {
   font-family: @font-secondary;
   font-weight: 900;
   font-size: 16px;
   // margin-left: 0px;
}

.levelTwo {
   font-family: @font-secondary;
   font-weight: 900;
   font-size: 14px;

   margin-left: 20px;
}

.levelThree {
   font-family: @font-secondary;
   font-weight: 800;
   font-size: 12px;

   margin-left: 40px;
}

.levelFour {
   font-family: @font-secondary;
   font-weight: 500;
   font-size: 10px;
   margin-left: 60px;
}

// --- LIGHT ---

:global(.Light).text {
   color: mix(@light-0, @light-3, 70%);
}

:global(.Light).text:hover {
   color: @light-3;
}


// --- Dark ---
:global(.Dark).layout {
   background-color: @dark-3;
}

