@import '../../../../../styles/app.theme.less';

.highlight {
   border-radius: 3px;
}


.highlight-1 {
   background-color: fade(@editor-highlight-1, @highlight-fade-light);
}
.highlight-2 {
   background-color: fade(@editor-highlight-2, @highlight-fade-light);
}
.highlight-3 {
   background-color: fade(@editor-highlight-3, @highlight-fade-light);
}
.highlight-4 {
   background-color: fade(@editor-highlight-4, @highlight-fade-light);
}
.highlight-5 {
   background-color: fade(@editor-highlight-5, @highlight-fade-light);
}

// --- LIGHT ---
@highlight-fade-light: 70%;

:global(.Light).highlight-1 {
   background-color: fade(@editor-highlight-1, @highlight-fade-light);
}
:global(.Light).highlight-2 {
   background-color: fade(@editor-highlight-2, @highlight-fade-light);
}
:global(.Light).highlight-3 {
   background-color: fade(@editor-highlight-3, @highlight-fade-light);
}
:global(.Light).highlight-4 {
   background-color: fade(@editor-highlight-4, @highlight-fade-light);
}
:global(.Light).highlight-5 {
   background-color: fade(@editor-highlight-5, @highlight-fade-light);
}


// --- Dark ---
:global(.Dark).svg {
   fill: @dark-4;
}

