@import '../../styles/app.theme.less';

.layout {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: white;
}


// --- LIGHT ---
:global(.Light).layout {
}


// --- DARK ---

:global(.Dark).layout {
}
