@import '../../styles/app.theme.less';

.layout {
   display: flex;
   flex-direction: column;
   align-items: center;
   width:100%;
   // height:100vh;
   overflow: hidden;
   height: 100vh;
}


.title {
   // border: solid red;
   display: flex;
   align-items: center;
   padding-top: 20px;
   padding-left: 20px;
   min-height: 120px;
}

.content {
   width: 100%;
   overflow: hidden;
   overflow-y: scroll;
   flex-grow: 1;
   // border: 1px solid red;
   display: flex;
   flex-direction: column;
}

.coursesContainer {
   padding-top: 50px;
   width: 850px;
   margin: auto;
   overflow-y: scroll;
   // border: 1Px solid blue;
   flex-grow: 1;
   display: flex;
   flex-wrap: wrap;
}

.spinnerContainer {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-grow: 1;
   margin-top: -100px;
}

@media (max-width: 700px) {
   .title {
      flex-direction: column;
   }
}

.logo {
   height: 80px;
   width: 100px;
}

.library {
   padding-left: 20px;
   font-family: @font-primary;
   font-weight: 300;
   font-size: 60px;
}

// --- LIGHT ---

:global(.Light).layout {
   background-color: @light-0;
}

:global(.Light).logo {
   fill: @light-3;
}

:global(.Light).title {
   color: @light-3;
}

// --- DARK ---

:global(.Dark).layout {
   background-color: @dark-2;
}

:global(.Dark).logo {
   fill: mix(@dark-3, @dark-0, 25%);
}

:global(.Dark).title {
   color: mix(@dark-3, @dark-0,25%);
}
