@import '../../styles/app.theme.less';

.layout {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-grow: 1;
   overflow-y: hidden;
}


.offline {
   flex-grow: 1;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   font-family: 'Avenir', 'Open Sans', '-apple-system', 'BlinkMacSystemFont', "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
   color: mix(@light-2, @light-3);
}

.inputLine {
   display: flex;
   justify-content: flex-start;
   flex-direction: row;
   align-items: center;
   width: 60%;
   padding-top: 25px;
   padding-bottom: 25px;
}



.icon {
   margin-top: 10px;
   height: 50px;
}

.searchInput {
   width: 100%;
   font-size: 40px;
   border: none;

   font-family: 'Avenir', 'Open Sans', '-apple-system', 'BlinkMacSystemFont', "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}
.searchInput::placeholder {
   font-weight: 300;
}

.resultsContainer {
   width: 100%;
   overflow-y: scroll;
}

.row {
   display: flex;
   flex-direction: column;
   padding-left: 10%;
   padding-right: 10%;
   padding-top: 7px;
   padding-bottom: 7px;

   .main {
      display: flex;

      .name {
         flex: 7;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         font-family: 'Avenir', 'Open Sans', '-apple-system', 'BlinkMacSystemFont', "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
         font-size: 20px;
      }

      .curriculum {
         flex: 2;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         font-family: 'Avenir', 'Open Sans', '-apple-system', 'BlinkMacSystemFont', "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
         font-size: 20px;
      }
   }

   .detail {
      display: flex;
   }
}

.highlight {
   background-color: #ffee0070;
   border-radius: 3px;
}



// --- LIGHT ---
:global(.Light).layout {}
:global(.Light).icon {
   fill : @light-3;
}

:global(.Light).searchInput {
   border-bottom: 1px solid @light-2;
   color: @light-3;
}

:global(.Light).searchInput::placeholder {
   color: mix(@light-3, @light-2, 50%);
}


:global(.Light).row:hover {
   background-color: mix(@light-0, @light-3, 95%);
}

:global(.Light).name,
:global(.Light).curriculum {
   color: @light-3;

}

// --- DARK ---

:global(.Dark).layout {}
