@import '../../styles/app.theme.less';

.layout {
   -webkit-app-region: drag;
   min-height: 69px;
   display: flex;
   flex-direction: row;
   align-items: flex-end;
   justify-content: flex-start;
   padding-left: 10px;
   margin-bottom: 7%;
}
.tab {
   cursor: pointer;
   margin-left: 20px;
   margin-right: 20px;
}

.name {
   font-size: 16px;
   font-family: @font-primary;
   transition: 200ms ease-in-out;
}

.nameActive {
   font-size: 30px;
   font-weight: 700;
}


// --- LIGHT ---
:global(.Light).layout {
   border-bottom: 1px solid @light-2;
}

:global(.Light).name {
   color: @light-3
}

// --- DARK ---

:global(.Dark).layout {
   border-bottom: 1px solid mix(@dark-0, @dark-3, 40%);
}

:global(.Dark).name {
   color: @dark-4;
}
