@import '../../styles/app.theme.less';

.layoutWrapper {
   margin-top: 10vh;
   margin-left: 8vw;
   margin-right: 8vw;
   margin-bottom: 10vh;
   height: 80vh;
   // border: 1px solid red;
}

.title {
   font-family: @font-primary;
   font-weight: 300;
   font-size: 35px;
   padding-left: 15px;
   margin-bottom: 35px;
   // border: 1px solid brown;
}

.layout {
   overflow-y: scroll;
   flex: 1;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: flex-start;
   transition: background-color 300ms ease-in-out;
   padding-bottom: 10vh;
   max-height: 100%;
   // border: 1px solid green;
}

@media (max-width: 993px) {
   .layout {
      justify-content: center;
   }
}

.settingsGroup {
   min-width: 250px;
   margin: 30px;
   margin-bottom: 20px;
   // border: 1px solid pink;
}

.breather {
   flex: 1 1 auto;
}

.settingsGroupTitle {
   font-family: @font-primary;
   font-size: 22px;
   font-weight: 700;
   letter-spacing: 0.1em;
}

.settingsList {
   display: flex;
   flex-direction: column;
   width: 100%;
   padding-top: 20px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding-bottom: 20px;
}

.settingsItem {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
   width: 100%;
   min-height: 60px;
   border-top-width: 1px;
   border-top-style: solid;
   // border:1px solid blue;
}

.settingsItem:nth-child(1) {
   border-top-width: 0px;
}

.settingsItemOffsetRight {
   margin-right: 15px;
}

.settingsItemName {
   font-family: @font-secondary;
   font-size: 18px;
   font-weight: 400;
   padding-left: 20px;
   width: 45%;
}

.logoutButtonContainer {
   width: 100%;
   display: flex;
   justify-content: center;
}

.logoutButton {
   border: 1px solid fade(@red-warning, 30%);
   background-color: fade(@red-warning, 20%);
   height: 30px;
   width: 200px;
   font-family: @font-primary;
   font-size: 14px;
   margin-top: 30px;
   color: fade(@red-warning, 60%);
}

.logoutButton:hover {
   background-color: fade(@red-warning, 50%);
   color: fade(@red-warning, 100%);
   border: 1px solid fade(@red-warning, 100%);


}

.settingsSelect {
   margin-right: 15px;
   font-family: @font-secondary;
   font-size: 16px;
   background-color: transparent;
   border:none;
   outline:none;
   text-align-last: right;
}

.nateSelect {
   width: 70px;
}


.settingsInput {
   font-family: @font-secondary;
   font-size: 16px;
   font-weight: 400;
   margin-right: 20px;
   outline: none;
   border: none;
   text-align-last: right;
   background-color: transparent;
}

.settingsInput:focus {
  text-align-last: center;
   //padding-left: 5px;
}
// --- LIGHT ---
// :global(.Light).layoutWrapper {
//    background-color: @light-0;
// }
:global(.Light).title {
   color: @light-4;
}

:global(.Light).settingsGroupTitle,
:global(.Light).settingsItemName ,
:global(.Light).settingsSelect,
:global(.Light).settingsInput {
   color: @light-3;
}

:global(.Light).settingsInput:focus {
   border: 1px solid  fade(@light-3, 50%);
}

:global(.Light).settingsItem {
   border-top-color: fade(@light-3, 30%);
}

// --- DARK ---

// :global(.Dark).layoutWrapper {
//    background-color: @dark-2;
// }

:global(.Dark).title {
   color: @dark-4;
}

:global(.Dark).settingsGroupTitle,
:global(.Dark).settingsItemName,
:global(.Dark).settingsSelect,
:global(.Dark).settingsInput {
   color: @dark-4;
}

:global(.dark).title {
   color: @light-4;
}


:global(.Dark).settingsInput:focus {
   border: 1px solid  @dark-4;
}

:global(.Dark).settingsItem {
   border-top-color: fade(@dark-4, 30%);
}
