.layout {
   position: fixed;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   // border: 1px solid red;
   background-color: mix(black, white, 0%);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column
}

.page {
   box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
   // border-radius: 10px;
}
