.layout {
   position: fixed;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   // border: 1px solid red;
   background-color: fade(white, 90%);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column
}


.iconClose {
   width: 20px;
}

.page {
   box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
   // border-radius: 10px;
}

.under {
   display: flex;
   justify-content: space-between;
}

.divider {
   margin-left: 10px;
   margin-right: 10px;
}

.navButtonsContainer {
   display: flex;

}

.navButton {
   font-family: "Open Sans";
   cursor: pointer;
}

.pdfThumbnail {
   text-overflow: ellipsis;
   overflow: hidden;
   height: 100px;
   width: 80px;
   background: transparent;
   font-size: 10px;
   font-family: "Open Sans";
}
