@import '../../styles/app.theme.less';

.containerLink{
   font-size: 18px;
   color: @light-5;
   display: flex;
   transition: 0.1s;
   padding-left: 5px;
   padding-right: 5px;
   transition: .2s ease-in-out;
}

.containerLink:hover {
   background-color: @light-4;
   border-radius: 3px;
   cursor: pointer;
}

.name {
   font-family: @font-primary;
   overflow: hidden;
   white-space: nowrap;
   max-width: 200px;
   text-overflow: ellipsis;
}

.containerName {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.containerLink:hover {
   color: @light-6;
   fill: @light-6;
}


.iconLink{
   width: 20px;
   height: 20px;
   margin-top: 3px;
   margin-right: 8px;
   display: inline-block;
   fill: @light-5;
}

.containerSubjectLink {
   display: flex;
   align-items: center;
}

.containerLinks {
   margin-left: 5px;
   display: flex;
   max-height: 25px;
   min-height: 25px;
   height: 25px;
}

.divInline {
   display: inline-block;
}

.slash {
   font-size: 20px;
   margin-left: 4px;
   margin-right: 4px;
   color: @light-5;
}

.alignIcon {
   align-items: center;
}
