@import '../../styles/app.theme.less';

.layoutTopbar {
   padding-left: 3px;
   padding-right: 3px;
   -webkit-app-region: drag;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   min-height: 36px;
   max-height: 36px;
}

.layoutHistory {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-content: center;
}

.iconBack {
   width: 30px;
   fill: @light-5;
   transform: scale(1.3, 1.3);
}

.iconForward {
   width: 30px;
   transform: scale(1.3, 1.3) rotate(180deg);
   fill: @light-5;
}

.iconSearch {
   width: 30px;
   fill: @light-5;
}

.topBarButton {
   -webkit-app-region: no-drag;
   cursor: pointer;
   display: flex;
   align-items: center;
   transition: 0.1s;
}

.topBarButton:hover {
   background-color: @light-4;
   border-radius: 3px;
}

.breadCrumbs {
   -webkit-app-region: no-drag;
   display: flex;
   align-items: center;
}
