.containerScheduleEvent {
   border-radius: 0px !important;
   color: white !important;
   background-color: #5C6974 !important;
   border: none !important;
}

.containerEventModal {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.elementSpacer {
   margin-top: 10px;
   width: 100%;
   display: flex;
   flex-direction: column;
}

.containerTimePicker {
   display: flex;
   flex-direction: row;
   display: flex;
   // align-items: center;
   justify-content: center;
}

.spaceTimePicker {
   margin-left: 8px;
   margin-right: 8px;
   font-size: 16px;
   font-weight: 500;
}

.containerDeleteEvent {
   display: flex;
    justify-content: center;
    align-items: center;
}

.deleteEvent {
   display: flex;
    justify-content: center;
    align-items: center;
   border: 1px solid rgba(177, 29, 29, 0.3);
    background-color: rgba(177, 29, 29, 0.2);
    height: 30px;
    width: 200px;
    font-family: 'Open Sans', '-apple-system', 'BlinkMacSystemFont', "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    margin-top: 30px;
    color: rgba(177, 29, 29, 0.6);
    cursor: pointer;
}
