@import "../../styles/app.theme.less";


.padding {
   position: relative;
   display: flex;
   height: 100%;
}

.layoutPage {
   // border: 1px solid red;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;

}

.layoutContent {
   // border: 1px solid blue;
   flex: 1 1 auto;
   position: relative;/* need this to position inner content */
   overflow-y: auto;
   display: flex;
   flex-direction: column;
}


.childrenList {
   height: 100%;
   width: 100%;
   z-index: 1;
   // padding-left: 8%;
   // padding-right: 8%;
   padding-top: 25px;
   overflow: auto;
}

.childrenList::-webkit-scrollbar {
   display: none;
}

.listTransition {
   transition: 200ms ease-in-out;
}

.listBeforeTransition {
   opacity: 0;
}

.listAfterTransition {
   opacity: 1;
}

.wrapper {
   position: relative;
   width: 100%;
   height: 100%;
}
.gradient {
   pointer-events: none;
   width: 100%;
   height: 100%;
   position: absolute;
   z-index: 3;
}

// --- LIGHT ---
:global(.Light).gradient {
   background: linear-gradient(@light-0 0%, transparent 5%,transparent 97%, @light-0 100%);
}

// --- DARK ---

:global(.Dark).gradient {
   background: linear-gradient(@dark-2 0%, transparent 5%,transparent 97%, @dark-2 100%);
}
