
.moreButton {
   // margin-top: 6px;
   opacity: 0;
   transition: 0.3s;
   width: 16px;
   height: 16px;
}

.moreButton:hover {
   opacity: 1 !important;
}

.moreButtonActive {
   opacity: 0.6 !important;
}

.moreButtonSubject {
   opacity: 0;
   transition: 0.3s;
   width: 20px;
   height: 20px;
   // display: block;
   // margin: 1px;
   // border: 1px solid red;
}

.moreButtonSubject:hover {
   opacity: 1 !important;
}

.popupContainer {
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: flex-start;
}
