@import '../../../styles/app.theme.less';

.iconMore {
   width: 22px;
   padding: 4px;
   border-radius: 50%
}

.alignTimeHeader {
padding-left: 10%;
   padding-right: 10%;
   padding-top: 7px;
   padding-bottom: 7px;
}

// --- LIGHT ---

:global(.Light).iconMore {
   fill:  @light-3;
}

:global(.Light).iconMore:hover {
   fill: @light-3;
   background-color: mix(@light-0, @light-3, 70%);
}

// --- LIGHT ---

:global(.Dark).iconMore {
   fill:  @dark-4;
}

:global(.Dark).iconMore:hover {
   fill: @dark-4;
   background-color: mix(@dark-2, @dark-4, 70%);
}
