@import '../../../styles/app.theme.less';

.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: @font-secondary;
    font-size: 20px;
    flex: 10;
    color: inherit;
    // min-width: 200px;
   //  border: 1px solid red;
}

.icon {
    min-width: 14px;
    min-height: 14px;
    max-width: 14px;
    max-height: 14px;
    margin-right: 12px;
   //  border: 1px solid blue;
}

.columnsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.lastUpdate {
   //  border: 1px solid green;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: @font-primary;
    font-weight: 300;
    font-size: 16px;
    font-family: @font-secondary;
   padding-left: 15px;
}


@media (max-width: 700px) {
    .lastUpdate {
        display: none;
        // width: 0;
        // opacity: 0;
    }
}

.hideMoreButton {
    opacity: 0;
    // flex: 1;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
   //  border: 1px solid blue;
}

.showMoreButton {
    opacity: 1 !important;
}

.popup {
    // margin-left: 80px;
   flex: 1;
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
}

.childrenList {
    flex: 1 1 auto;
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.timeHeader {
   font-family: @font-primary;
   font-weight: 700;
}


// --- LIGHT ---

:global(.Light).name,
:global(.Light).lastUpdate {
    color: @light-3;
}

:global(.Light).timeHeader {
   color: @light-4;
}

:global(.Light).icon {
    fill: @light-3;
}

// --- DARK ---

:global(.Dark).name,
:global(.Dark).timeHeader,
:global(.Dark).lastUpdate {
    color: @dark-4;
}

:global(.Dark).timeHeader {
   color: @dark-4;
}


:global(.Dark).icon {
    fill: @dark-4;
}
