
@import '../../../styles/app.theme.less';

.alignContent {
   padding-top: 0px;
   padding-bottom: 2px;
}

.columnHeader {
   text-align: left;
   font-family: @font-primary;
   font-size: 16px;
   font-weight: 700;
}

.childrenList {
   height: 100%;
   flex: 1 1 auto;
}

.iconArrowDown {
   margin-left: 10px;
   width: 10px;
   height: 10px;
   transition: 200ms;
}

// --- LIGHT ---

:global(.Light).columnHeader {
   color: mix(@light-0, @light-3, 50%);
}

:global(.Light).iconArrowDown {
   fill: mix(@light-0, @light-3, 50%);
}
