@import '../../../styles/app.theme.less';

.childrenList {
   //border:1px solid red;
   height: 100%;
   width: 100%;
}

.childContainer {
   margin-bottom: 5px;
}

.listContainer {
   //overflow-y: scroll;
   height: 100%;
   min-height: 100px;
   // flex: 1 1 auto;
}

::-webkit-scrollbar {
   width: 0px;  /* Remove scrollbar space */
   background: transparent;  /* Optional: just make scrollbar invisible */
}

.alignContent {
   padding-left: 10%;
   padding-right: 10%;
   padding-top: 7px;
   padding-bottom: 7px;
}


.empty {
   padding-left: 10%;
   font-family: @font-primary;
   font-weight: 300;
   font-size: 30px;
   opacity: 1;
}


// --- LIGHT ---

:global(.Light).alignContent:hover {
   // composes: Light from global;
   background-color: mix(@light-0, @light-3, 90%);
}

:global(.Light).empty {
   color: @light-3;
}

// --- LIGHT ---

:global(.Dark).alignContent:hover {
   // composes: Light from global;
   background-color: mix(@dark-2, @dark-4, 90%);
}

:global(.Dark).empty {
   color: @dark-4;
}
