@import '../../../../styles/app.theme.less';

.layout {
   min-height: 100px;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 15px 0px;
}

.gimmespace {
   height: 300px;
}

.coverImage {
   // position: absolute;
   position: relative;
   height: 300px;
   left: 0px;
   right: 0px;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: cover;
   object-fit: cover;
   transform: translateY(-25px);
   // display: flex;
}

.readOnly {
   transform: none !important;
}

.iconDeleteWrapper {
   width: 40px;
   height: 40px;
   padding: 8px;
   fill: rgba(255, 255, 255, 0.7);
   right: 20px;
   bottom: 10px;
   position: absolute;
   border: 1px solid rgba(255, 255, 255, 0.7);
   background-color: rgba(255, 255, 255, 0.1);
   border-radius: 50%;
   box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.281);
   opacity: 0;
   transition: opacity 200ms ease;
}

.iconDeleteWrapper:hover {
   border: 1px solid rgb(200, 0, 0);
   fill: rgb(200, 0, 0);
   background-color: rgba(255, 0, 0, 0.1);
   cursor: pointer;
}

.showButton {
   opacity: 1;
}

.deleting {
   opacity: 0.2;
   transition: opacity 500ms ease-in-out;
}

// --- LIGHT ---

:global(.Light).layout {
   background-color: lighten(@light-3, 80%);
   border: 3px dashed @light-2;
   color: lighten(@light-3, 40%);
}


// --- Dark ---
:global(.Dark).layout {
   background-color: @dark-3;
   border: 3px dashed @light-2;
   color: @light-3;
}
