@import '../../styles/app.theme.less';

.padding {
   height: 100%;
   overflow-y: scroll;
}

.layoutPage {
   // border: 1px solid red;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;

}

.layoutContent {
   // border: 1px solid blue;
   flex: 1 1 auto;
   position: relative;
   /* need this to position inner content */
   display: flex;
   flex-direction: column;
}

.addSubjectContainer {
   position: fixed;
   // border: 1px solid red;
   bottom: 0px;
   left: 80px;
   width: 100%;
   height: 130px;
   background: linear-gradient(transparent, white);
   z-index: 99;
}

.addSubject {
   position: fixed;
   bottom: 20px;
   right: 25px;
   height: 50px;
   cursor: pointer;
}

.categoryHeader {
   padding-left: 11%;
   padding-right: 10%;
   font-weight: 700;
   font-size: 20px;
   margin-bottom: 10px;

}

// --- LIGHT ---
:global(.Light).layout {
   background-color: @light-0;
}

:global(.Light).addItem {
   fill: @light-3;
}

:global(.Light).categoryHeader {
   color: @light-4;
}

:global(.Light).addSubject {
   fill: @light-3;
}

// --- DARK ---

:global(.Dark).layout {
   background-color: @dark-2;
}

:global(.Dark).addItem {
   fill: @dark-4;
}

:global(.Dark).addSubject {
   fill: @dark-4;
}
