@import '../../styles/app.theme.less';

.layout {

}

.button {

}

// --- LIGHT ---
:global(.Light).layout {
   background-color: @light-0;
}
// --- DARK ---

:global(.Dark).layout {
   background-color: @dark-2;
}
