@import '../../../styles/app.theme.less';

.layoutTopbar {
   z-index: 2;
   position: relative;
   padding-left: 5px;
   padding-right: 5px;
   -webkit-app-region: drag;
   display: flex;
   flex-direction: row;
   align-items: flex-end;
   justify-content: flex-start;
   min-height: 50px;
   max-height: 50px;
   // border:1px solid red;
}

.tabs {
   -webkit-app-region: no-drag;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: flex-end;
   max-width: 100%;
   height: 38px;

}


.tabActive {
   opacity: 1 !important;
   // font-weight: 600 !important;
   z-index: 4 !important;
}

.tab {
   -webkit-app-region: no-drag;
   z-index: 3 ;
   font-family: @font-primary;
   font-size: 16px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   white-space: nowrap;
   width: 240px;
   min-width: 30px;
   flex-shrink: 1;
   height: 100%;
   border-radius: 3px 3px 0px 0px;
   height: 38px;
   // border: 1px solid blue;
   // transition: background-color 300ms;

}

.tabHovered {
}

.tabNameWrapper {
   // border: 1px solid red;
   padding-left: 10px;
   max-width: 210px;
   width: 100%;
   overflow: hidden;
   // border: 1px solid yellow;
}

.gradient {
   position: absolute;
   max-width: inherit;
   width: inherit;
   height: 25px;
}

.tabName {
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   // border: 1px solid red;
}

.iconCloseTabWrapper {
   margin-left: 5px;
   margin-right: 5px;
   width: 16px;
   height: 16px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   margin-bottom: -2px;
   //  border: 1px solid green;

}

.iconCloseTab {
   width: 16px;
   height: 16px;
   fill:inherit;
}

.title {
   color: @light-4;
}

.iconAddNewTabWrapper {
   margin-right: 12px;
   margin-left: 8px;
   min-width: 29px;
   height: 29px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   align-self: center;
   transition: 200ms;
}

.iconAddNewTab {
   width: 13px;
   height: 13px;
}

.separator {
   margin-right: -1px;
   min-width: 1px;
   height: 22px;
}

// --- LIGHT THEME ---

:global(.Light).layoutTopbar {
   background-color: fade(@light-3, 10%);
}

:global(.Light).tab {
   color: @light-3;
}

:global(.Light).tabHovered {
   background-color: mix(@light-0, @light-3, 80%);
}

:global(.Light).tabActive {
   background-color: @light-0;
   color: @light-4;
}

:global(.Light).tabName {
   background-image: linear-gradient(to right, @light-3 85%,rgba(0,0,0,0));
}

:global(.Light).tabActive > .tabNameWrapper > .tabName {
   background-image: linear-gradient(to right, @light-4 85%,rgba(0,0,0,0)) ;
}

:global(.Light).iconCloseTabWrapper {
   fill: mix(@light-3, @light-0, 50%);
}

:global(.Light).iconCloseTabWrapper:hover {
   background-color: @light-3;
   fill: @light-0;
}

:global(.Light).separator {
   background-color: mix(@light-3, @light-0, 30%);
}

:global(.Light).iconAddNewTab {
   fill: mix(@light-3, @light-0, 100%);
}

:global(.Light).iconAddNewTabWrapper:hover {
   background-color: mix(@light-3, @light-0, 30%);
}

// --- DARK THEME ---

:global(.Dark).layoutTopbar {
   background-color: @dark-1;
   // border-bottom: 1px solid @dark-3;
}

:global(.Dark).tab {
   color: @dark-3;
}

:global(.Dark).tabHovered {
   background-color: mix(@dark-0, @dark-3, 70%);
}

:global(.Dark).tabActive {
   background-color: @dark-2;
   color: @dark-4;
}

:global(.Dark).tabName {
   background-image: linear-gradient(to right, @dark-3 85%,rgba(0,0,0,0));
}

:global(.Dark).tabActive > .tabNameWrapper > .tabName {
   background-image: linear-gradient(to right, @dark-4 85%,rgba(0,0,0,0)) ;
}

:global(.Dark).iconCloseTabWrapper {
   fill: @dark-3;
}

:global(.Dark).iconCloseTabWrapper:hover {
   background-color: @dark-3;
   fill: @dark-2;
}

:global(.Dark).separator {
   background-color: mix(@dark-3, @dark-0, 60%);
}

:global(.Dark).iconAddNewTab {
   fill: mix(@dark-4, @dark-0, 100%);
}

:global(.Dark).iconAddNewTabWrapper:hover {
   background-color: mix(@dark-3, @dark-0, 50%);
}
