@import '../../styles/app.theme.less';

.todoCardBorder {
   padding: 1em;
   border: none;
   border-radius: 5px;
   background-color: white;
   /*     width: 16em;
    height: 4em; */
   align-items: center;
   margin: 15px;

}

.todoDoneCardBorder {
   padding: 1em;
   //  border: 2px solid #bbb;
   background-color: #aaa;
   /*     width: 16em;
    height: 4em; */
   align-items: center;
   margin: 15px;
   border-radius: 5px;
   background-color: rgb(236, 236, 236);
   margin: 15px;

}

.todoCreateCardBorder {
   padding: 1em;
   //  border: 1px solid #ddd;
   border-radius: 5px;
   background-color: white;
   align-items: center;
   margin: 15px;
}

.todoCardContents {
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
}

.todoTitle {
   font-family: @font-primary;
   font-size: 1em;
   color: #3B454E;
}

.todoDueDate {
   margin-top: 4px;
   font-size: 12px;
   color: #888;
}

.todoCheck {
   margin-right: 10px;
}

.todoText {
   width: 90%;
   float: left;
}

.todoInputText {}

.todoCreateButton {
   margin-top: 6px;
   background-color: #77828E;
   color: white;
   outline: none;
   border-radius: 8px;
   font-size: 15px;
   width: 100%;
   border: none;
   padding: 4px;
}

.todoCreateButton:hover {
   background-color: #2C3E50;
   transition: 200ms;
}

.input {
   border: none;
   outline: none;
   font-size: 16px;
   // margin-left: 8px;
}

.dateInput {
   border: none;
   outline: none;
   font-size: 12px;
   color: #888;

}

// --- LIGHT THEME ---

:global(.Light).layout {
   background-color: @light-3;
}

:global(.Light).text {
   color: @light-0;
}

// --- DARK THEME ---


:global(.Dark).layout {
   background-color: @light-4;
}
