@import "../../styles/app.theme.less";

.layout {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   -webkit-app-region: drag;
}

.row {
   display: flex;

}

.column {
   display: flex;
   flex-direction: column;
   -webkit-app-region: no-drag;

}

.flags {
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 100%;
   margin-bottom: 25px;
}

.flag {
   cursor: pointer;
   font-size: 30px;
   margin-left: 15px;
   margin-right: 15px;
}

.iconNate {
   width: 80px;
   height: 80px;
   margin-right: 25px;
}

.welcome {
   font-family: @font-primary;
   font-size: 22px;
   font-weight: 700;
   margin-bottom: 5px;

}

.detail {
   font-family: @font-primary;
   font-size: 18px;
   font-weight: 400;
   width: 400px;
   margin-bottom: 30px;
}

.buttons {
   display: flex;
   flex-direction: column;
   width: 320px;
}

.google {
   cursor: pointer;
   // border: 1px solid red;
   display: flex;
   align-items: center;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.20);
   border-radius: 5px;
   align-self: center;
   width: 100%;
   height: 50px;
   transition: 200ms;
}

.google:hover {
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.20);
}

.iconGoogle {
   margin-left: 15px;
   margin-top: -5px;
   width: 55px;
   height: 55px;
}

.continueWithGoogle {
   margin-left: 10px;
   font-family: @font-primary;
   font-size: 18px;
}

.or {
   align-self: center;
   font-family: @font-primary;
   font-size: 15px;
   margin: 5px;
}

.email {
   display: flex;
   width: 100%;
  // border: 1px solid red;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.20);
   border-radius: 5px;
   align-self: center;
   width: 100%;
   height: 50px;
   margin-bottom: 10px;
}

.confirmCodeMessage {
   display: flex;
   flex-direction: column;
   font-family: @font-primary;
   font-size: 14px;
   text-align: center;
   margin-bottom: 10px;

}

.confirmCode {
   display: flex;
   width: 100%;
  // border: 1px solid red;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.20);
   border-radius: 5px;
   align-self: center;
   width: 100%;
   height: 50px;
}

.wrongPasswordInput {
   border: 1px solid @red-warning;

}

.wrongPassword {
   color: @red-warning;
   font-family: @font-primary;
   font-size: 12px;
   margin-left: 10px;
   margin-top: 10px;
}

.emailInput {
   border-radius: 5px;
   width: 100%;
   border: none;
   font-family: @font-primary;
   font-size: 18px;
   padding-left: 15px;
}

.emailInput::placeholder {
   opacity: 0.5;
}

.confirmCodeInput {
   border-radius: 5px;
   width: 100%;
   border: none;
   font-family: @font-primary;
   font-size: 18px;
   padding-left: 15px;
}

.confirmCodeInput::placeholder {
   opacity: 0.5;
}

.iconArrowInCircleRight {
   cursor: pointer;

   width: 25px;
   margin-left: 5px;
   margin-right: 10px;
}

.backButton {
   // border-radius: 3px;
   font-family: @font-secondary;
   font-size: 12px;
   font-weight: 500;
   height: 25px;
   border:none;
   // letter-spacing: 0.1em;
   color: @light-4;
   cursor: pointer;
   transition: 200ms;
   width: 70px;
   margin-top: 50px;
   margin-bottom: 50px;
}

// .backButton:hover {
//    border-radius: 3px;
//    // letter-spacing: 0.1em;
//    cursor: pointer;
//    transition: 200ms;
//    width: 100px;
//    margin-bottom: 50px;
// }

// --- LIGHT THEME ---

:global(.Light).iconNate,
:global(.Light).detail,
:global(.Light).iconGoogle,
:global(.Light).google,
:global(.Light).continueWithGoogle,
:global(.Light).or,
:global(.Light).email,
:global(.Light).emailInput,
:global(.Light).confirmCodeMessage,
:global(.Light).confirmCodeInput,
:global(.Light).emailInput::placeholder,
:global(.Light).iconArrowInCircleRight {
   fill: @light-3;
   color: @light-3;
}


:global(.Light).welcome {
   color: @light-4;
}

:global(.Light).backButton:hover {
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

}
// --- DARK THEME ---


:global(.Dark).mask {
   background-color: fade(white, 60%);
}
