@import "../../styles/app.theme.less";

.layout {
   display: flex;
   flex-direction: column;
   //justify-content: center;
   align-items: center;
   height: 100%;
   padding-left: 15%;
   padding-right: 15%;
   padding-top: 50px;
}

.title {
   font-family: @font-primary;
   font-size: 28px;
   font-weight: 900;
   margin-bottom: 20px;
}

.divider {
   border-top-width: 1px;
   width: 100%;
   min-width: 0px;
   margin-bottom: 38px;
   opacity: 0.5;
}


// --- LIGHT THEME ---


:global(.Light).title {
   color: @light-4;
}

:global(.Light).divider {
   color: @light-3;
}


// --- DARK THEME ---


:global(.Dark).mask {
   background-color: fade(white, 60%);
}
