@import "../../styles/app.theme.less";

.paragraph {
   max-width: 570px;
   font-family: @font-secondary;
   font-size: 18px;
   font-weight: 400;
   margin-bottom: 50px;

}

.row {
   display: flex;
   width: 100%;
   //width: 570px;
   //flex-shrink: 1 ;
}

.termsLink {
   cursor: pointer;
}

.button {
   border-radius: 3px;
   font-family: @font-secondary;
   font-size: 12px;
   font-weight: 500;
   height: 30px;
   border:none;
   letter-spacing: 0.1em;
   margin-right: 10px;
   padding-left: 12px;
   padding-right: 12px;
   color: @light-4;
   cursor: pointer;
   transition: 200ms;
}

// --- LIGHT THEME ---


:global(.Light).paragraph {
   color: @light-3;
}

:global(.Light).button {
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

}

:global(.Light).button:hover {
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

}

:global(.Light).agree {
   background-color: @light-3;
   color: @light-0;
}

// --- DARK THEME ---


:global(.Dark).mask {
   background-color: fade(white, 60%);
}
