@import "../../styles/app.theme.less";

.layout {
   display: flex;
   flex-direction: row;
}

.left {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-right: 30px;
   margin-top: 10px;
}

.column {
   display: flex;
   flex-direction: column;
}

.row {
   display: flex;
   flex-direction: row;
}

.profilePicture {
   width: 90px;
   height: 90px;
   border-radius: 50%;
   // margin-bottom: 5px;

}

.iconProfile {
   width: 90px;
}

.fileButton {
   cursor: pointer;
   font-family: @font-primary;
   font-size: 12px;
   letter-spacing: 0.1em;
   width: 95px;
   height: 25px;
   border-radius: 3px;
   background: fade(@light-3, 15%);
   color: @light-4;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 5px;

}

.inputContainer {
   display: flex;
   flex-direction: column;
   margin-bottom: 8px;
   margin-right: 10px;
}

.inputFullWidth {
   width: 100%;
}

.label {
   font-family: @font-primary;
   font-size: 10px;
   margin-bottom: 3px;
}

.input {
   font-family: @font-secondary;
   border-width: 1px;
   border-style: solid;
   border-radius: 3px;
   min-width: 200px;
   // max-width: 250px;
   height: 35px;
   font-size: 15px;
   padding: 2px 8px
}

.inputError {
   border-color: red !important;
}


.error {
   width: 100%;
   text-align: end;
   height: 10px;
   font-size: 10px;
   font-family: @font-primary;
   color: red;
}


.button {
   margin-top: 20px;
   border-radius: 3px;
   font-family: @font-secondary;
   font-size: 12px;
   font-weight: 500;
   height: 30px;
   border:none;
   letter-spacing: 0.1em;
   margin-right: 10px;
   padding-left: 12px;
   padding-right: 12px;
   color: @light-4;
   cursor: pointer;
   transition: 200ms;
}

.select {
   font-family: @font-secondary;
   min-width: 200px;
   // max-width: 250px;
   height: 35px;
}

// :global(.react-select__control) {
//    min-height: 35px !important;
//    height: 35px !important;
//    border-radius: 3px !important;
//    border: 1px solid fade(@light-3 , 25%) !important;
//    box-shadow: none !important;
// }

// :global(.react-select__placeholder) {
//    font-family: @font-secondary !important;
//    font-size: 15px !important;
//    color: fade(@light-3, 30%) !important;
//    font-size: 15px !important;
// }

// :global(.react-select__single-value),
// :global(.react-select__input) {
//    color: @light-4 !important;
//    font-size: 15px !important;
// }

// :global(.react-select__indicator-separator) {
//    display: none !important;
// }
// :global(.react-select__indicator) {
//    color: fade(@light-3, 30%) !important;
// }
// :global(.react-select__indicator):hover {
//    color: fade(@light-3, 100%) !important;
// }

// :global(.react-select__menu) {
//    // border: 1px solid red !important;
//    background-color: @light-0 !important;
// }

// :global(.react-select__menu-list) {
//    // border: 1px solid green !important;
// }

// :global(.react-select__option) {
//    height: 35px !important;
//    font-size: 15px !important;
//    color: @light-4 !important;
//    // border: 1px solid blue !important;
// }

// :global(.react-select__option--is-focused) {
//    background-color: @light-2 !important;
//    // border: 1px solid blue !important;
// }

// :global(.react-select__option--is-selected) {
//    background-color: @light-3 !important;
//    color: @light-0 !important;
//    // border: 1px solid blue !important;
// }

// --- LIGHT THEME ---

:global(.Light).iconProfile {
   fill: @light-3;
}

:global(.Light).button {
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

}

:global(.Light).button:hover {
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

}

:global(.Light).next {
   background-color: @light-3;
   color: @light-0;
}

:global(.Light).label {
   color: @light-4;
}

:global(.Light).input {
   color: @light-4;
   border-color: fade(@light-3 , 25%);
}

:global(.Light).input::placeholder {
   color: fade(@light-3, 30%);
}


// --- DARK THEME ---


:global(.Dark).mask {
   background-color: fade(white, 60%);
}

.pre {
   max-width: 300px;
   overflow-x: auto;
   white-space: pre-wrap;
   white-space: -moz-pre-wrap;
   white-space: -pre-wrap;
   white-space: -o-pre-wrap;
   word-wrap: break-word;
}
