@import "../../styles/app.theme.less";

.layout {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.layout iframe {
   display: block;
   width: 100%;
   height: 100%;
   border: none;
}
