@import '../../styles/app.theme.less';

.superWrapper0 {
   display: flex;
   transition: width 300ms ease-in-out;
}

.hide {
   display: none;
}

.hideRightPanel {
   // width: calc(100% + 220px);
   width: 100%;
}

.showRightPanel {
   width: 100%;
}

.noTab {
   height: 100%;
}

.noTabText {
   font-family: @font-primary;
   font-weight: 300;
   font-size: 30px;
   margin-top: 12%;
   margin-left: 8%;
}

.onLoadFadeIn {
   transition: opacity 300ms ease-in;
}

.opaque {
   opacity: 1;
}

.transparent {
   opacity: 0;
}

.editorPageLayout1 {
   overflow: visible;
   display:flex;
   flex-direction: column;
   // border: 1px solid green;
   height: 100vh;
   flex: 1;
   min-width: 0;
}

.editorPageContent2 {
   // border: 1px solid red;
   position: relative;
   flex-grow: 1;
   overflow: auto;
   // overscroll-behavior: auto;

}

.editorPageContent2::-webkit-scrollbar {
   // display: none;
}

.page4 {
   overflow: hidden;
   position: relative;
   // top: 6px;
   margin-bottom: 10px;
   display: inline-block;
   //width: 794px !important;
   margin: auto;
   padding-top: 20px;
   // padding-left: 60px;
   // padding-right: 60px;
   width: 100%;
   min-height: 1123px !important;
   // font-family: @font-secondary;
   // box-shadow: 0px 5px 15px 0px rgba(194, 194, 194, 0.6);
}


// --- LIGHT ---
// :global(.Light).editorPageContent2,
// :global(.Light).page4 {
//    background-color: @light-0;
//    color: @light-4;
// }

:global(.Light).noTabText {
   color: @light-3;
}


:global(.Light).page4 {
   // box-shadow: 0px 0px 30px 0px rgba(194, 194, 194, 0.6);
}


// --- Dark ---
// :global(.Dark).editorPageContent2,
// :global(.Dark).page4 {
//    background-color: @dark-2;
//    color: @dark-4;
// }

:global(.Dark).noTabText {
   color: @dark-4;
}


:global(.Dark).page4 {
   // box-shadow: 0px 0px 30px 0px rgba(20, 20, 20, 0.6);
}
