@import '../../../styles/app.theme.less';

.insertWrapperWrapper{
   width: 30%;
}

.insertWrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   cursor: pointer;
   opacity: 0.6;
}

.insertWrapper:hover {
   opacity: 1;
}


.insertWrapperActive {
   opacity: 1;
}

.insertIcon {
   margin-bottom: 5px;
   height: 22px;
   fill: inherit;
}

.legend {
   color: inherit;
   font-family: "Nunito";
   font-size: 11px;
}


// --- LIGHT ---
:global(.Light).insertWrapper {
   fill: @light-4;
   color: @light-4;
}

// --- Dark ---
:global(.Dark).insertWrapper {
   fill: @dark-4;
   color: @dark-4;
}
