@import '../../../styles/app.theme.less';

.container {
   min-height: 100vh;
   display: flex;
   flex: 0 0 220px;
   flex-direction: column;
   justify-content: space-between;
   transition: 300ms;
}

.hidden {
   opacity: 0;
}

.visible {
   opacity: 1;
}

.title {
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Open Sans';
   font-size: 15px;
   font-weight: 700;
   letter-spacing: 0.1em;
   padding-bottom: 20px;
}

.widgetContainer {
   display: flex;
   flex-shrink: 1;
   flex-direction: column;
   align-items: center;
}

.row {
   display: flex;
   padding-bottom: 10px;
   width: 90%
}

.center {
   justify-content: center;
}

.spaceEvenly {
   display: flex;
   justify-content: space-evenly;
}

// --- LIGHT ---
:global(.Light).container {
   background-color: @light-1;
   border-left: 1px solid @light-2;
}
:global(.Light).title {
   color: @light-3;
}

// --- Dark ---
:global(.Dark).container {
   background-color: @dark-1;
   border-left: 1px solid @dark-3;
}
:global(.Dark).title {
   color: @dark-4;
}
