@import '../../styles/app.theme.less';
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

.container {
   display: flex;
   flex-direction: column;
   margin-top: 50px;
   margin-left: 50px;
   margin-right: 50px;
   // border: 1px solid blue;
}

.containerCalendar {
   display: flex;
   height: 100%;
   // padding-top: 30px;
   padding: 30px 20px 0px 20px;
   max-width: 1000px;

   // padding-bottom: 50px;
   overflow: auto;
   margin: auto;
   // border: 1px solid red;
   font-family: @font-primary;
   color: @light-3;
   font-size: 16px;
}

.title {
   font-family: @font-primary;
   font-weight: 300;
   font-size: 35px;
   padding-left: 15px;
   padding: 30px 20px;
   overflow: auto;
   max-height: 100vh;
   max-width: 900px;
   margin: auto;
}

.calendarWrapper {
   padding: 10px;
   flex-grow: 1;
   height: 100%;

}

.todosWrapper {
   min-width: 275px;
   // border: 1px solid red;
   height: 100vh;
   background-color: #F8F8F8;
}
