@import '../../../styles/app.theme.less';

.editor5 {
   // cursor: text;
   // padding: 0px 60px;
    text-align: left;
    // padding: 50px;
    max-width: 794px;
    margin: auto;
    font-family: @font-secondary;
}

.parentFolder {
   cursor: pointer;
   display: flex;
   flex-direction: row;
   align-items: center;

}


.iconFolder {
   width: 18px;
   margin-bottom: -5px;
   margin-left: 4px;
   margin-right: 6px;

}

.parentName {
   font-size: 22px;
   color: @light-3;
   font-family: @font-secondary;
   margin-bottom: -8px;
   font-weight: 300;
   // margin-left: 10px;
   margin-left: 3px;
}

.courseNameTextArea {
    background-color: transparent;
    width: 85%;
    font-size: 40px;
    font-family: @font-secondary;
    font-weight: 900;
    border: none;
    resize: none !important;
    min-height: 60px;
}

.courseNameTextArea::placeholder {
   color: mix(@light-3, @light-0, 20%);
}


// --- LIGHT ---

:global(.Light).editor5 {
   color: @light-4;
}

:global(.Light).iconFolder {
   fill: @light-3;
}

:global(.Light).parentName {
   color: @light-3;
}

:global(.Light).courseNameTextArea {
   color: @light-4;
}

// --- Dark ---

:global(.Dark).editor5 {
   color: @dark-4;
}

:global(.Dark).iconFolder {
   fill: @dark-4;
}

:global(.Dark).parentName {
   color: @dark-3;
}

:global(.Dark).courseNameTextArea {
   color: @dark-4;
}
