@import '../../../styles/app.theme.less';

.layout {
   // padding-left: 60px;
   // padding-right: 60px;
   overflow: scroll;
   height: 100vh;
}

.exporterDiv {
   position: absolute;
   border: 1px solid red;
   width: 297px;
   left: 0px;
   height: 100%;
}

.backButton {
   z-index: 2;
   position: absolute;
   left: 10px;
   top: 10px;
   height: 50px;
   cursor: pointer;
   filter: drop-shadow( 1px 2px 5px rgba(0, 0, 0, 1));
}

.editorWrapper {
   // border: 1px solid red;
}

.editor {
   overflow: auto;
   padding-top: 50px;
   cursor: default !important;
}

.exportButton {
   position: absolute;
   bottom: 86px;
   right: 34px;
   height: 33px;
   filter: drop-shadow( 1px 2px 3px rgba(0, 0, 0, .2));
   cursor: pointer;
}

.exportButtonSpinner {
   position: absolute;
   bottom: 99px;
   right: 67px;
   height: 33px;
}



.editButton {
   position: absolute;
   bottom: 20px;
   right: 25px;
   height: 50px;
   cursor: pointer;
   filter: drop-shadow( 1px 2px 3px rgba(0, 0, 0, .2));
}


// --- LIGHT ---

:global(.Light).backButton {
   fill: @light-0;
}

:global(.Light).exportButton,
:global(.Light).editButton {
   fill: @light-3;
}
// --- Dark ---

:global(.Dark).backButton,
:global(.Dark).editButton {
   fill: @dark-4;
}

