@import '../../styles/app.theme.less';

.layout {
   display: flex;
   align-items: center;
   justify-Content: center;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
}

.mask {
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   padding: 1rem;
   // backdrop-filter: grayscale(100%);
   z-index: 99;
   //opacity: 1;
   // overflow-x: hidden;
   // overflow-y: auto;
   // transition: show .5s ease;
 }

 .container {
   z-index: 100;
   position: relative;
   min-width: 600px;
   border-radius: 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.content {
   padding-left: 80px;
   padding-right: 80px;
   width: 100%;
}

.contentTitleLess {
   margin-top: 50px;
   font-size: 18px;
   font-family: @font-primary;
}

.title {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 84px;
   font-size: 30px;
   font-weight: 200;
   font-family: @font-primary;
   width: 100%;
}

.footer {
   width: 100%;
   height: 120px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
}

.cancelButton {
   font-family: @font-secondary;
   border-radius: 2px;
   font-size: 13px;
   font-weight: 700;
   letter-spacing: 0.1em;
   width: 130px;
   height: 35px;
   border: none;
   cursor: pointer;
   transition:0.2s;
}

.confirmButton {
   font-family: @font-secondary;
   border-radius: 2px;
   font-size: 13px;
   font-weight: 700;
   letter-spacing: 0.1em;
   width: 130px;
   height: 35px;
   margin-left: 18px;
   border: none;
   cursor: pointer;
   color: @light-0;
   transition:0.2s;
}

.confirmButtonDisabled {
   pointer-events: none;
}

.closeButton {
   position: absolute;
   top: 20px;
   right: 30px;
   height: 19px;
   fill: @light-4;
   transition:0.2s;
   cursor: pointer;
}
.closeButton:hover {
   fill: @light-5;
   cursor: pointer;
}

.closeButton:focus {
   fill: @light-5;
}


// --- LIGHT THEME ---

:global(.Light).mask {
   background-color: fade(black, 60%);
}

:global(.Light).container {
   background-color: @light-0;
   box-shadow: 0px 10px 30px 0px fade(black, 30%);
}

:global(.Light).contentTitleLess {
   color: @light-4;
}

:global(.Light).title {
   color: @light-4;
   border-bottom: 1px solid @light-2;
}

:global(.Light).cancelButton {
   color: @light-3;
   background-color: fade(@light-3, 20%);
}

:global(.Light).cancelButton:hover  {
   color: @light-3;
   background-color: fade(@light-3, 50%);
}

:global(.Light).confirmButton {
   color: @light-0;
   background-color: @light-3;
}

:global(.Light).confirmButtonDisabled {
   background-color: mix(@light-3, @light-0, 50%);
}

:global(.Light).confirmButton:hover  {
   color: @light-0;
   background-color: @light-4;
}


// --- DARK THEME ---


:global(.Dark).mask {
   background-color: fade(white, 60%);
}

:global(.Dark).container {
   background-color: @dark-1;
   box-shadow: 0px 10px 30px 0px fade(black, 40%);
}

:global(.Dark).title {
   color: @dark-4;
   border-bottom: 1px solid fade(@dark-4, 40%);
}

:global(.Dark).cancelButton {
   color: @dark-4;
   background-color: fade(@dark-4, 20%);
}

:global(.Dark).cancelButton:hover  {
   color: @dark-4;
   background-color: fade(@dark-4, 10%);
}

:global(.Dark).confirmButton {
   color: @dark-1;
   background-color: @dark-4;
}

:global(.Dark).confirmButton:hover  {
   color: @dark-1;
   background-color: fade(@dark-4, 50%);
}

