@import '../../styles/app.theme.less';

.enter {
   // transform: scale(0.9);
   transform: scaleY(0.8);
   transform-origin: 0% 0%;
   opacity: 0;
}
.enterActive {
   // transform: translateX(0);
   transition: opacity 200ms, transform 200ms;
   transform: scaleY(1);
   transform-origin: 0% 0%;
   opacity: 1;
}
.exit  {
   opacity: 1;
}

.exitActive {
   transform: scaleY(0.8);
   transform-origin: 0% 0%;
   opacity: 0;
   transition: opacity 200ms, transform 200ms;
}

@nateSelectpadding: 10px;

.node {
   // width: 100%;
   position: relative;
}

.input {
   // cursor: pointer;
   font-family: @font-secondary;
   font-size: 16px;
   // padding-left: @nateSelectpadding;
   // padding-right: @nateSelectpadding;
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 30px;
   white-space: nowrap;
}

.searchableInput {
   font-family: @font-secondary;
   font-size: 16px;
   border: none;
   width: 100%;
}

.iconArrowDown {
   margin-left: 10px;
   min-width: 10px;
   min-height: 10px;
   transition: 200ms;

}

.iconArrowDownActive {

}

.iconUpsideDown {
   transform: rotate(180deg);
}

.dropDownContainer {
   position: absolute;
   padding-top: 5px;
   padding-bottom: 5px;
   left: 100px;
   top: 100px;
   transition: 300ms;
   max-height: 250px;
   overflow: auto;
}

.option {
   display: flex;
   align-items: center;
   font-family: @font-secondary;
   font-size: 16px;
   padding-top: 5px;
   padding-bottom: 5px;
   // height: 30px;
   padding-left: @nateSelectpadding;
   padding-right: @nateSelectpadding;
   overflow: hidden;
   // white-space: nowrap;
}

.optionActive {

}

.createPlusIcon {
   width: 10px;
   margin-right: 10px;
   margin-left: 5px;
}

:global(.Light).input,
:global(.Light).searchableInput {
   color: @light-4;
}

:global(.Light).iconArrowDown {
   fill:  mix(@light-0, @light-3, 50%);
}

:global(.Light).iconArrowDownActive {
   fill:  @light-4;
}

:global(.Light).dropDownContainer {
   background-color: @light-0;
   border-radius: 4px;
   box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

:global(.Light).option,
:global(.Light).createPlusIcon {
   color: @light-3;
   fill: @light-3;
}

:global(.Light).option:hover {
   background-color: mix(@light-0, @light-3, 85%);
}

:global(.Light).optionActive {
   background-color: @light-3 !important;
   color: @light-0 !important;

}

// DARK THEME

:global(.Dark).input,
:global(.Dark).searchableInput {
   color: @dark-4;
}

:global(.Dark).iconArrowDown {
   fill:  mix(@dark-1, @dark-4, 50%);
}

:global(.Dark).iconArrowDownActive {
   fill:  @dark-4;
}


:global(.Dark).dropDownContainer {
   background-color: @dark-2;
   border-radius: 4px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

:global(.Dark).option,
:global(.Dark).createPlusIcon {
   color: @dark-4;
   fill: @dark-4;
}

:global(.Dark).option:hover {
   background-color: mix(@dark-1, @dark-4, 85%);
}

:global(.Dark).optionActive {
   background-color: @dark-4 !important;
   color: @dark-1 !important;

}
