.layerTimePicker {
   border: 1px solid #e8e8e8;
   width: 114px;
}

.sizeTimePicker {
   width: 112px;
   display: flex;
   // text-align: center;
   flex-direction: row;
   max-height: 200px;
}

.displayTime {
   width: 112px;
   text-align: center;
   font-size: 18px;
   font-weight: 500;
}

.spaceDisplayTime {
   margin-left: 2px;
   margin-right: 2px;
}

.hourTimePicker {
   width: 56px;
   // max-height: 192px;
   overflow: auto;
   border-top: 1px solid #e8e8e8;
   padding-bottom: 120px;
}

.minuteTimePicker {
   width: 56px;
   // max-height: 192px;
   overflow: auto;
   border-top: 1px solid #e8e8e8;
   border-left: 1px solid #e8e8e8;
   padding-bottom: 105px;
}

.boxTime {
   width: 56px;
   height: 32px;
   display: flex;
   justify-content: center;
   align-items: center;
   // text-align: center;
   cursor: pointer;
}

.boxTimeSelected:extend(.boxTime) {
   font-weight: 600;
   background: #f5f5f5;
}

.boxTime:hover {
   background-color: #f5f5f5;
   // background-color: #e6f7ff;
}
