@import '../../styles/app.theme.less';

.select {
   font-family: @font-secondary;
   min-width: 200px;
   // max-width: 250px;
   height: 35px;
}

.select.withoutBorder > :global(.react-select__control) {
   border: none !important;
}

.select > :global(.react-select__control) {
   min-height: 35px !important;
   height: 35px !important;
   border-radius: 3px !important;
   box-shadow: none !important;
   border: 1px solid fade(@light-3 , 25%) !important;
}

:global(.react-select__placeholder) {
   font-family: @font-secondary !important;
   font-size: 15px !important;
   color: fade(@light-3, 30%) !important;
   font-size: 15px !important;
}

:global(.react-select__single-value),
:global(.react-select__input) {
   color: @light-4 !important;
   font-size: 15px !important;
}

:global(.react-select__indicator-separator) {
   display: none !important;
}
:global(.react-select__indicator) {
   color: fade(@light-3, 30%) !important;
}
:global(.react-select__indicator):hover {
   color: fade(@light-3, 100%) !important;
}

:global(.react-select__menu) {
   // border: 1px solid red !important;
   background-color: @light-0 !important;
}

:global(.react-select__menu-list) {
   // border: 1px solid green !important;
}

:global(.react-select__option) {
   height: 35px !important;
   font-size: 15px !important;
   color: @light-4 !important;
   // border: 1px solid blue !important;
}

:global(.react-select__option--is-focused) {
   background-color: @light-2 !important;
   // border: 1px solid blue !important;
}

:global(.react-select__option--is-selected) {
   background-color: @light-3 !important;
   color: @light-0 !important;
   // border: 1px solid blue !important;
}
