@import '../../styles/app.theme.less';

@thumb-radius: 8px;
@thumb-height: 12px;
@thumb-width: 12px;

@thumb-border-width: 1px;

// @track-width: 250px;
@track-height: 3px;

@track-border-width: 0px;


.track() {
   width: 100%;
// width: @track-width;
  height: @track-height;
  cursor: pointer;
  animate: 0.2s;
}

.thumb() {
   box-shadow: 1px 1px 1px fade(@light-3, 90%);
  // .shadow(@thumb-shadow-size,@thumb-shadow-blur,@thumb-shadow-color);
  height: @thumb-height;
  width: @thumb-width;
  border-radius: 50%;
  background: mix(@light-4, @light-0, 80%);
  cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none;
  margin: @thumb-height/2 0;
  // width: @track-width;
  width: 100%;
  border-radius: 10px;


  &::-webkit-slider-runnable-track {
    .track();
    // .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
    background: fade(@light-3, 50%);
    border-radius: 10px;
  }

  &::-webkit-slider-thumb {
    .thumb();
    -webkit-appearance: none;
    margin-top: ((-@track-border-width * 2 + @track-height) / 2) - (@thumb-height / 2);
  }

}
