@import '../../styles/app.theme.less';

.switchButton {
   width: 42px;
   height: 22px;
   border-radius: 1px;
   transition: 300ms ease-in-out;
   cursor: pointer;
}

.switchCircle {
   width: 20px;
   height: 20px;
   border-radius: 1px;
   transition: 300ms ease-in-out;
}

.switchCircleActive {
   margin-left: 20px;
}

// --- LIGHT ---

:global(.Light).switchButton
{
   border: 1px solid @light-3;
   background-color: @light-0;
}

:global(.Light).switchButtonActive
{
   border: 1px solid @light-3;
   background-color: @light-3;
}

:global(.Light).switchCircle
{
   background-color: mix(@light-0, @light-3, 70%);
}

// --- DARK ---

:global(.Dark).switchButton
{
   border: 1px solid @dark-4;
   background-color: @dark-1;
}

:global(.Dark).switchButtonActive
{
   border: 1px solid @dark-4;
   background-color: @dark-4;
}

:global(.Dark).switchCircle
{
   background-color: mix(@dark-0, @dark-4, 70%);
}
