@import "../../styles/app.theme.less";

.tabsContainerContainer {
   display: flex;
   flex-direction: row;
   justify-content: center;
   // border:1px solid black;
}

.tabsContainer {
   display: flex;
   flex-direction: column;
   // justify-content: center;
   // align-items: center;
   // border:1px solid red;
   position: relative;
   width: 50%;
}

.tabs {
   display: flex;
   flex-direction: row;
   justify-content: center;
   // border:1px solid blue;
   width: 100%;
}

.current {
   color: @light-accent;
   font-weight: 800;
   // border-bottom: 2px solid @light-accent;
}

.none {
   color: @light-4;
}

.tab {
   // border:1px solid green;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 56px;
   width: 100%;
   cursor: pointer;
   font-size: 20px;
   letter-spacing: 0.1em;
   transition: font-weight .1s linear;

}

.dynamicLine {
   position: absolute;
   margin-top: 55px;
   background-color: @light-accent;
   height: 3px;
   width: 33%;
   border-radius: 10px;
   transition: 0.2s ease-in-out;
}

.name {
   font-family: @font-primary;
}
