@import "../../styles/app.theme.less";

.container {
      margin-top: 30px;
           // margin: auto;
}

.flexContainer {
   display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
}

.flexItem {
   margin: 5px;
   text-align: center;     /* will center text in <p>, which is not a flex item */
}
