@import '../../../styles/app.theme.less';


.unstyle {
   border: none;
}

.highlight {
   cursor: pointer;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   margin-left: 6px;
   margin-right: 6px;
}

.highlight:hover {
   border:1px solid rgba(255, 255, 255, 0.5);
}

.highlightActive {
   border:1px solid rgba(255, 255, 255, 0.5);
}

.iconWrapper {
   margin-left: 1px;
   margin-right: 1px;
   min-width: 28px;
   height: 24px;
   padding: 3px 5px;
   cursor: pointer;
}

.iconWrapper:hover {
   opacity: 1;
}


.svg {
   // fill: inherit;
}

// --- LIGHT ---
:global(.Light).svg {
   fill: mix(@light-3, @light-0, 80%);
}

:global(.Light).svg:hover {
   fill: @light-4;
}

:global(.Light).svgActive {
   fill: @light-4;
  //  border-radius: 1px;
  // box-shadow: 0 0 0px 1px mix(@light-3, @light-1, 80%);
}


// --- Dark ---
:global(.Dark).svg {
   fill: mix(@dark-3, @dark-1, 80%);
}

:global(.Dark).svgActive {
   fill: @dark-4;
}

