@import '../../../styles/app.theme.less';

.iconWrapper {
   margin-left: 2px;
   margin-right: 2px;
   width: 28px;
   height: 24px;
   padding: 3px 5px;
   cursor: pointer;
}

.textIcon {
   font-family: "Open Sans";
   font-size: 15px;
   line-height: 0;
   opacity: 0.6;
}

.textIcon:hover {
   opacity: 1;
}

.textIconActive {
   opacity: 1;
}

.one {
   font-weight: 900;
}

.two {
   font-weight: 700;
}

.three {
   font-weight: 600;
}

.four {
   font-weight: 500;
}

// --- LIGHT ---
:global(.Light).textIcon {
   color: @light-4;
}


// --- Dark ---
:global(.Dark).textIcon {
   color: @dark-4;
}

