@import '../../../styles/app.theme.less';

.highlight {
   border: none;
   cursor: pointer;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   margin-left: 6px;
   margin-right: 6px;
}

.highlight-1 {
   background-color: @editor-highlight-1;
}
.highlight-2 {
   background-color: @editor-highlight-2;
}
.highlight-3 {
   background-color: @editor-highlight-3;
}
.highlight-4 {
   background-color: @editor-highlight-4;
}
.highlight-5 {
   background-color: @editor-highlight-5;
}

.svg {
   // fill: inherit;
}

// --- LIGHT ---
:global(.Light).svg {
   fill: @light-4;
}

:global(.Light).highlight:hover {
   // border: 1px solid mix(@light-0, @light-3, 70%);
   box-shadow: 0px 0px 2px 1px mix(@light-0, @light-3, 70%);

}

:global(.Light).highlightActive {
   box-shadow: 0px 0px 3px 1px mix(@light-0, @light-3, 30%) !important;
}

// --- Dark ---
:global(.Dark).svg {
   fill: @dark-4;
}

:global(.Dark).highlight:hover {
   border: 1px solid mix(@dark-1, @dark-3, 70%);
}

:global(.Dark).highlightActive {
   box-shadow: 0 0 0 1px @dark-3;
}

