@import '../../../../../styles/app.theme.less';

.layout {
   padding: 8px 7px 6px;
   position: absolute;
   z-index: 1;
   transform: scaleY(0.8);
   transform-origin: 0% 100%;
   top: -10000px;
   left: -10000px;
   margin-top: -6px;
   opacity: 0;
   background-color: #222;
   color: white;
   border-radius: 4px;
   transition: opacity 300ms, transform 200ms;
   display: flex;
   align-items: center;
   z-index: 1001;
}

// --- TRANSITION ---
@transition-duration : 200ms;

.enter {
   // transform: scale(0.9);
   transform: scaleY(0.8);
   transform-origin: 0% 100%;
   opacity: 0;
}
.enterActive {
   // transform: translateX(0);
   transition: opacity @transition-duration, transform @transition-duration;
   transform: scaleY(1);
   transform-origin: 0% 100%;
   opacity: 1;
}
.exit  {
   opacity: 1;
}

.exitActive {
   transform: scaleY(0.8);
   transform-origin: 0% 100%;
   opacity: 0;
   transition: opacity @transition-duration, transform @transition-duration;
}

.divider {
   width: 1px;
   height: 23px;
   background-color: #4D565F;
   margin-left: 3px;
   margin-right: 3px;
}

.dictionnaryButton {
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: -1px;
   cursor: pointer;
   opacity: 0.6;
}

.dictionnaryButton:hover {
   opacity: 1;
}

.dictionnaryIcon {
   width: 17px;
   fill: white;
}

// --- LIGHT ---

:global(.Light).layout {
   background-color: @light-3;
}


// --- Dark ---
:global(.Dark).layout {
   background-color: @dark-3;
}

